<div class="accountPage">
    <div class="accountHeader">
        
        <h1>Access Denied</h1><br />
        <hr class="horizontal-line" /><br />

        <h4>Извините, но у Вас нет прав доступа к данной функциональности</h4>
        <p>Обратитесь к суперадминистратору</p>
        <br />
        <h2>Роли, используемые в приложении:</h2>
        <p><strong>SuperAdmin: </strong>Доступ ко всей функциональности приложения</p>
        <p><strong>Admin: </strong>Доступ к оцениванию результатов выполнения ТЗ по направлениям Home, Search, Edit, Support, About</p>
        <p><strong>Editor: </strong>Доступ к редактированию сайта и данных новостей, блогов, турпродуктов</p>
    </div>
</div>
        
