<div class="accountPage">
    <div class="accountHeader">
        
        <h1>Access Denied</h1><br />
        <hr class="horizontal-line" /><br />

        <h4>Извините, но у Вас нет прав доступа к данной функциональности</h4>
        <p>Обратитесь к суперадминистратору</p>
        <hr class="horizontal-line" /><br />

        <h2>Роли, используемые в приложении:</h2>
        <div class="access-denied-list">
            <p><strong>SuperAdmin:</strong></p>
            <p>Доступ ко всей функциональности приложения, в т.ч.:</p>
            <ul>
                <li>доступ к редактированию сайта и к созданию/редактированию/удалению новостей, блогов, турпродуктов, стран, городов и страницы About;</li>
                <li>доступ к оцениванию уровня выполнения технических заданий на каждой странице;;</li>
                <li>доступ к редактированию данных о зарегистрированных пользователях сайта;</li>
                <li>доступ к созданию/редактированию/удалению ролей и распределению их среди пользователей;</li>
            </ul>
            <p><strong>Admin: </strong><p>
                <ul>
                    <li>доступ к оцениванию уровня выполнения технических заданий на каждой странице;</li>
                    <li>доступ к просмотру списка зарегистрированных пользователей сайта;</li>
                </ul>
            <p><strong>Editor: </strong></p>
            <ul>
                <li>Доступ к редактированию сайта и к созданию/редактированию/удалению новостей, блогов, турпродуктов, стран, городов и страницы About</li>
            </ul>
        </div>
    </div>
</div>
        
