<div class="accountPage">
    <div class="accountHeader">
        <h1>Access Denied</h1>
        <h4>Опаньки, а доступа то нет</h4>
        <p>Обратитесь к суперадминистратору</p>
    </div>
</div>
        
