<div class="accountPage">
    <div class="accountHeader">
        <h2>Зарегистрируйтесь / Войдите в учетную запись</h2>
        
        <div class="accountButton">
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="Login">LogIn</a>
        </div>

        <h3>Вы вышли из учетной записи</h3>
        <h4>Для реализации дополнительных возможностей, которые ограничиваются уровнем доступа, войдите в нужную учетную запись</h4>
    </div>
</div>