<div class="accountPage">
    <div class="accountHeader">

        <h1>Not Confirmed Email</h1><br />
        <hr class="horizontal-line" /><br />

        <h4>Извините, но у Вас нет прав доступа к данной функциональности</h4>
        <p>Вам нужно подтвердить свой Email</p>
        <p>Для того, чтобы исправить ситуацию, Вам достаточно зайти на свою электронную почту и нажать на ссылку <strong>Подтверждения регистрации своего Email</strong></p>

        <hr class="horizontal-line" /><br />

    </div>
</div>