@*
    // кнопки для меню на странице About
*@
<div class="homeButton">
    <a class="" asp-area="" asp-controller="About" asp-action="">Наши реквизиты</a>
    <a class="" asp-area="" asp-controller="About" asp-action="">Режим работы</a>
    <a class="" asp-area="" asp-controller="About" asp-action="">Фотогаллерея</a>
    <a class="" asp-area="" asp-controller="About" asp-action="FeedBackForm">Обратная связь</a>
    <a class="" asp-area="" asp-controller="About" asp-action="TechTaskAbout">ТЗ для About</a>
</div>
