<div class="homeButton">
    <a asp-controller="About" asp-action="">Наши реквизиты</a>
    <a asp-controller="About" asp-action="">Режим работы</a>
    <a asp-controller="About" asp-action="">Фотогаллерея</a>
    <a asp-controller="About" asp-action="FeedBackForm">Обратная связь</a>
    <a asp-controller="About" asp-action="TechTaskAbout">ТЗ для About</a>
</div>
