@model string

<div class="aboutPage">

    <div class="aboutHeader">
        <h3 class="title">Картинка успешно удалена:</h3>
        <hr class="horizontal-line" />
        <br />

        <div class="displayFlexRow">
            <h4>По пути: @Model</h4>
        </div>
    </div>
</div>

