@model Customer

<div class="aboutPage">
    
    @await Html.PartialAsync("AboutButtonMenuPartial")

    <div class="aboutHeader">

        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>
        
        <h2 class="title">Рады Вас приветствовать! </h2>
        <h4 class="title"> Задайте Ваш вопрос или сообщите о Вашей проблеме</h4>
        <hr class="horizontal-line" />
        <br />
        <p>Для ускорения обработки запроса, просим заполнить краткую форму. 
        <br />Гарантируем сохранность Вашей конфиденциальной информации</p>

        <form asp-controller="About" asp-action="FeedBackForm" method="post"> 
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Offer" />
            <div>
                <div asp-validation-summary="All"></div>
                <div class="displayFlexCol">
                    <label asp-for="Name"></label>
                    <input asp-for="Name"/>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Surname"></label>
                    <input asp-for="Surname"/>
                    <span asp-validation-for="Surname"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="BirthDay"></label>
                    <input asp-for="BirthDay" type="datetime" />
                    <span asp-validation-for="BirthDay"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Gender"></label>
                    <input asp-for="Gender"/>
                    <span asp-validation-for="Gender"></span>
                </div>
                <div class="displayFlexCol">
                    <label for="textArea">Введите Ваш вопрос или пожелание:  </label>
                    <textarea name="textArea" cols="100" rows="20" ></textarea>
                </div>
                <input type="submit" value="Отправить"/>
            </div>
        </form>
   </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('textArea');
    newCKEdit.updateElement();
</script>