@model Correspondence

<div class="aboutPage">
    
    @await Html.PartialAsync("AboutButtonMenuPartial")

    <div class="aboutHeader">

        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>
        
        <h2 class="title">Рады Вас приветствовать! </h2>
        <h4 class="title"> Задайте Ваш вопрос или сообщите о Вашей проблеме</h4>
        <hr class="horizontal-line" />
        <br />
        <p>Для ускорения обработки запроса, просим заполнить краткую форму. 
        <br />Гарантируем сохранность Вашей конфиденциальной информации</p>

        <form asp-controller="About" asp-action="FeedBackForm" method="post"> 
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Answer" />
            <input type="hidden" asp-for="AskerId" />
            <input type="hidden" asp-for="QuestionDate" />
            <div>
                <div asp-validation-summary="All"></div>
                <div class="displayFlexCol">
                    <label asp-for="Asker.Name"></label>
                    <input asp-for="Asker.Name" />
                    <span asp-validation-for="Asker.Name"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Asker.Surname"></label>
                    <input asp-for="Asker.Surname" />
                    <span asp-validation-for="Asker.Surname"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Asker.Email"></label>
                    <input type="email" asp-for="Asker.Email" />
                    <span asp-validation-for="Asker.Email"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Asker.BirthDay"></label>
                    <input asp-for="Asker.BirthDay" type="datetime" />
                    <span asp-validation-for="Asker.BirthDay"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Asker.Gender"></label>
                    <input asp-for="Asker.Gender" />
                    <span asp-validation-for="Asker.Gender"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="IsExCustomerOfCompany"></label>
                    <input asp-for="IsExCustomerOfCompany" />
                    <span asp-validation-for="IsExCustomerOfCompany"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Question">Введите Ваш вопрос или пожелание:  </label>
                    <textarea asp-for="Question" name="textArea" cols="100" rows="20" ></textarea>
                    <span asp-validation-for="Question"></span>
                </div>
                <input type="submit" value="Отправить"/>
            </div>
        </form>
   </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('textArea');
    newCKEdit.updateElement();
</script>