@model CorrespondenceViewModel

<div class="aboutPage">
    
    @await Html.PartialAsync("AboutButtonMenuPartial")

    <div class="aboutHeader">

        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>
        
        <h2 class="title">Рады Вас приветствовать! </h2>
        <h4 class="title"> Задайте Ваш вопрос или сообщите о Вашей проблеме</h4>
        <hr class="horizontal-line" />
        <br />
        <p>Для ускорения обработки запроса, просим заполнить краткую форму. 
        <br />Гарантируем сохранность Вашей конфиденциальной информации</p>

        <form asp-controller="About" asp-action="FeedBackForm" method="post"> 
            <div>
                <div asp-validation-summary="All"></div>
                <div class="displayFlexCol">
                    <label asp-for="Name" class="part70"></label>
                    <div class="displayFlexRow">
                        <input asp-for="Name" class="part70" />
                        <span asp-validation-for="Name" class="part30"></span>
                    </div>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Surname" class="part70"></label>
                    <div class="displayInline">
                        <input asp-for="Surname" class="part70" />
                        <span asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Email" class="part70"></label>
                    <div class="displayInline">
                        <input type="email" asp-for="Email" class="part70" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="BirthDay" class="part70"></label>
                    <div class="displayInline">
                        <input asp-for="BirthDay" class="part70" />
                        <span asp-validation-for="BirthDay"></span>
                    </div>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Gender" class="part70"></label>
                    <div class="displayInline">
                        <input asp-for="Gender" class="part70" />
                        <span asp-validation-for="Gender" ></span>
                    </div>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Question"></label>
                    <textarea asp-for="Question" name="textArea" cols="100" rows="20" ></textarea>
                    <span asp-validation-for="Question"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="QuestionDate">Дата вопроса: </label>
                    <p>@Model.QuestionDate</p>
                    <span asp-validation-for="QuestionDate"></span>
                </div>
                @if(Model.Answer != null)
                {
                    <div class="displayFlexCol">
                        <label asp-for="Answer">Ответ на Ваш вопрос:  </label>
                        <textarea asp-for="Answer" name="textArea" cols="100" rows="20" ></textarea>
                        <span asp-validation-for="Answer"></span>
                    </div>
                    <div class="displayFlexCol">
                        <label asp-for="AnswerDate">Дата ответа: </label>
                        <p>@Model.AnswerDate</p>
                        <span asp-validation-for="AnswerDate"></span>
                    </div>
                }

                <input type="submit" value="Отправить"/>
            </div>
        </form>
   </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('textArea');
    newCKEdit.updateElement();
</script>