@{
    ViewData["Title"] = "About Page";
}

<div class="aboutPage">
    
    @await Html.PartialAsync("AboutButtonMenuPartial")

    <div class="aboutHeader">
        <h1>Информация о нас:</h1>
        <br/>
        <div class="text-center">
            <h3>Название компании:</h3>
            <p>@ConfigData.CompanyName</p>
            <h3>Электронная почта:</h3>
            <p>@ConfigData.CompanyEmail</p>
            <h3>Контактный телефон:</h3>
            <p>@ConfigData.CompanyPhone</p>
        </div>
    </div>
</div>
