@model EditAboutPageViewModel

<div class="aboutPage">
    
    @await Html.PartialAsync("AboutButtonMenuPartial")

    <div class="aboutHeader">
        <h1 class="title">Информация о нас:</h1>
        <hr class="horizontal-line" />
        <br />
                
        <div class="displayFlexRow">
            <h4>@Model.Keyword</h4>
            <h4>Дата: @Model.DateAdded</h4>
        </div>
                       
        @await Html.PartialAsync("MainPartial")
        @await Html.PartialAsync("AboutPartial")
        @await Html.PartialAsync("DetailsPartial")
        @await Html.PartialAsync("OperationModePartial")
        @await Html.PartialAsync("PhotoGalleryPartial")
        @await Html.PartialAsync("FeedbackPartial")
 
    </div>
</div>
