@model EditAboutPageViewModel
@{
    ViewData["Title"] = "О нас";
}

<div class="aboutPage">
    
    @await Html.PartialAsync("_AboutButtonMenuPartial")

    <div class="aboutHeader">
        <h1 class="title">Информация о нас:</h1>
        <hr class="horizontal-line" />
        <br />
                
        <div class="displayFlexRow">
            <h4>@Model.AboutPageVersion.Keyword</h4>
            <h4>Дата: @Model.AboutPageVersion.DateAdded</h4>
        </div>
                       
        @await Html.PartialAsync("_MainPartial")
        @await Html.PartialAsync("_AboutPartial")
        @await Html.PartialAsync("_DetailsPartial")
        @await Html.PartialAsync("_OperationModePartial")
        @await Html.PartialAsync("_PhotoGalleryPartial")
        @await Html.PartialAsync("_FeedbackPartial")
 
    </div>
</div>
