@{
    ViewData["Title"] = "About Page";
}

<div class="aboutPage">
    <div class="homeButton">
        <button class="">
            <a class="" asp-area="" asp-controller="About" asp-action="">Наши реквизиты</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="About" asp-action="">Режим работы</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="About" asp-action="">Фотогаллерея</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="About" asp-action="">Обратная связь</a>
        </button>
    </div>
    <div class="aboutHeader">
        <h1>Информация о нас:</h1>
        <br/>
        <div class="text-center">
            <p>Тут будет название и реквизиты турфирмы</p>
            <p>Тут будут информация о режиме работы, фотографии сотрудников и офиса </p>
                <ul>
                    <li>данная <strong>страница содержит блоки</strong> (сверху - вниз): <strong>блок название и реквизиты, блок
                            режима работы фирмы, блок фотографий сотрудников, их работы в офисе, блок обратной связи</strong>
                    </li>
                    <li><strong>Название и полные реквизиты</strong> турфирмы</li>
                    <li>м.б. режим работы турфирмы по дням недели</li>
                    <li>фото сотрудников, фото с офиса</li>
                    <li><strong>Обратная связь</strong>с турфирмой, т.е. можно задать вопрос, можно позвонить и т.д.</li>
                </ul>
        </div>
    </div>
</div>


