@model IEnumerable<IdentityRole>
<div class="rolesPage">
    <div class="rolesHeader">

        <h2 class="title">Список ролей</h2>
        <h3 class="title">Вход ограничен ролью "superadmin"</h3><br />
        <hr class="horizontal-line" /><br />

        <table class="table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        <a class="linkDesign" asp-action="Create">Добавить роль</a>
        
    </div>
</div>

