@model IEnumerable<User>

<div class="rolesPage">
    <div class="rolesHeader">

        <h2 class="title">Список пользователей и их уровни доступа</h2>
        <h4 class="title">Вход ограничен ролью "superadmin"</h4><br />
        <hr class="horizontal-line" /><br />

        <table class="table">
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Уровень доступа</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
