<!DOCTYPE html>
<html>
  <head>
    <title>Simple Marker</title>
    
    @*Версия для Development*@
    @*@{
        var url = $"https://maps.googleapis.com/maps/api/js?key={ConfigMapApi.GetMapApiKey()}";
    }*@
    
    @*Версия для Production*@
    @{
        var apiKey = ViewData["MapApiKey"];
        var url = $"https://maps.googleapis.com/maps/api/js?key={apiKey}";
    }
    
    <script async src="@url">
    </script>
    
    <style>
      gmp-map {
        height: 100%;
      }
      
      html,
      body {
         height:100%;
         margin: 1em;
         padding: 0.5em;
      }
    </style>

  </head>
  <body>
    <gmp-map center="46.487117767333984,30.727792739868164" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="46.487117767333984,30.727792739868164" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </body>
</html>