<div id="mapPreview">

    <img src="~/maps/map-preview.png"
         alt="Map preview" />

    <button id="showLocationBtn">
        Где я?
    </button>

</div>

<div id="mapContainer" style="display:none;">

    <div id="supportMap"></div>

</div>