@{
    ViewData["Title"] = "SupportPage";
    var service = ViewData["service"];
}  

<div class="supportPage">
    
    @await Html.PartialAsync("SupportButtonMenuPartial")

    <div class="supportHeader">
        <h1 class="title">Страница поддержки приложения:</h1><br/>
        <hr class="horizontal-line" />
        <br />
        <h3>Приложение:</h3><br/>
        <p class="">service = @service</p><br/>

        <h3>Дата и время:</h3><br/>
        <p class="">@DateTime.Now</p> 
    </div>
</div>
