@{
    ViewData["Title"] = "Support Page";
}

<div class="supportPage">
    
    @await Html.PartialAsync("SupportButtonMenuPartial")

    <div class="supportHeader">
        <h1 class="title">Страница поддержки пользователей приложения:</h1>
        <hr class="horizontal-line" />
        <br />
        <div>
            <h2 class="title">Перевод текста:</h2>
        </div>
        <a href="https://translate.google.com.ua/" target="_blank">Google Translate</a>
        <a href="https://www.reverso.net/text-translation" target="_blank">Reverso Translate</a>
        <br />
        <a asp-controller="Support" asp-action="Translate">Перевод текста через Google Translate API</a>

        <hr class="horizontal-line" />
        <br />

        <h2 class="title">КА "ШАГ" на картах Одессы и Херсона:</h2>

        <div class="displayFlexRow">
            <div class="titleImage50">
                <h3>Карта Одессы</h3>
                <div class="height270">
                    <img src="~/images/Maps/Odessa.png" alt="Карта Одессы" align="left">
                </div>
                <a asp-controller="Support" asp-action="GetMap">КА "ШАГ" (Одесса)</a>
            </div>
            <div class="titleImage50 ">
                <h3>Карта Херсона</h3>
                <div class="height270">
                    <img src="~/images/Maps/Kherson.png" alt="Карта Херсона" align="left">
                </div>
                <a asp-controller="Support" asp-action="GetMap2">КА "ШАГ" (Херсон)</a>
            </div>
        </div>
    </div>
</div>
