@model string
@{
    ViewData["Title"] = "Support Page";
}

<div class="supportPage">
    
    @await Html.PartialAsync("SupportButtonMenuPartial")

    <div class="supportHeader">
        <h1 class="title">Страница поддержки пользователей приложения:</h1>
        <hr class="horizontal-line" />
        <br />
        <div>Карта:</div>
        <br/>
        <div>Перевод текста:</div>
        <br/>
        <div>Мобильное приложение:</div>
    </div>
</div>
