@model string
@{
    ViewData["Title"] = "Support Page";
}


<h2>@ViewData["Title"]</h2>

 @{
    <h2>Поддержка пользователей: </h2>
     
     <h3>Позвонить</h3>
    
     <h3>Задать вопрос:</h3>
     
     <h3>Рассчитать расходы на турпоездку</h3>
   
}
@*
<div class="text-center">
    <h1 class="display-4">Страница поддержки проекта</h1>
    <p>Тут будут выводиться карты местности по JPS</p>
    <p>Тут будут переводиться тексты на иностранный язык</p>
    <p>Тут будет ссылка на загрузку мобильного приложения</p>
        <ul>
            <li>разработка этой страницы и связанного с ней функционала - это для дипломного проекта</li>
            <li>данная страница содержит <strong>3 кнопки - "Карта", "Перевод текста", "Мобильное приложение"</strong>,
                кот. открывают 2 блока и
                ссылку (сверху - вниз):<strong>
                    <br />блок карты местности Map,
                    <br />блок перевода текста Translate
                    <br />и ссылку на скачивание мобильного приложения - мобильной версии вебсайта MobileApp</strong>
                <br />по нажатию на кнопку "Карта" - раскрывается область, в кот. появляется карта данной местности
                <br />по нажатию на кнопку "Перевод текста" - раскрывается область, в кот. слева - текст, кот.
                н.перевести, а справа - перевод на иностр. язык
                <br />по нажатию на кнопку "Мобильное приложение" - открывается ссылка на скачивание мобильного
                приложения
            </li>
            <li>д.б. ссылка на <strong>мобильное приложение</strong>, кот. б.
                <br />предоставлять <strong>дополнительную информацию</strong> о стране пребывания, о ее законах,
                традициях и обычаях местного населения, о достопримечательностях, об объектах сферы гостеприимства
                (гостинницы, кафе и т.д.) - это м.б. <strong>мобильная версия вебсайта</strong>
                <br />показывать <strong>карту местности по навигатору JPS</strong> (??? м.б. сложно)
                <br />предоставить <strong>переводчик для вводимого/выводимого текста</strong> (??? м.б. сложно)
                <br />
            </li>
            <li>м.б. эта ссылка в виде <strong>кнопки или QR-кода</strong></li>
            <li>мобильное приложение на анроид</li>
            <li></li>
        </ul>
</div>
*@