@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
}

@{
    ViewData["Title"] = "Страница поддержки приложения";
}

<div class="supportPage">
    
    @await Html.PartialAsync("_SupportButtonMenuPartial")

    <div class="supportHeader">
        <h1 class="title">Страница поддержки пользователей приложения:</h1>
        <hr class="horizontal-line" />
        <br />
        
        <h2 class="title">Показать, где я</h2>

        @await Html.PartialAsync("_WhereAmIMapPartial")
        
        @* тоже вариант
        <partial name="_WhereAmIMapPartial" />
        *@

        <hr class="horizontal-line" />
        <br />

        <h2 class="title">Показать, что рядом</h2>
        <br />

        <h2 class="title">Проложить маршрут</h2>
        <br />

        <h2 class="title">Показать прогноз погоды</h2>
        <br />

        <h2 class="title">Перевести текст:</h2>
        <a href="https://translate.google.com.ua/" target="_blank">Google Translate</a>
        <a href="https://www.reverso.net/text-translation" target="_blank">Reverso Translate</a>
        <br />
        @*<a asp-controller="Support" asp-action="Translate">Перевод текста через Google Translate API</a>*@

        <hr class="horizontal-line" />
        <br />
        
    </div>
</div>

@section Scripts {

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="~/js/support-map.js"></script>
}