@model string
@{
    ViewData["Title"] = "Support Page";
}

<div class="supportPage">
    
    @await Html.PartialAsync("SupportButtonMenuPartial")

    <div class="supportHeader">
        <h1 class="title">Страница поддержки пользователей приложения:</h1>
        <hr class="horizontal-line" />
        <br />
        <div>Карта:</div>
        <br/>
        <div>Перевод текста:</div>
        <a href="https://translate.google.com.ua/" target="_blank">Google Translate</a>
        <a href="https://www.reverso.net/text-translation" target="_blank">Reverso Translate</a>
        <br/>
        <a asp-controller="Support" asp-action="Translate">Перевод текста через Google Translate API</a>
        <div>Мобильное приложение:</div>
    </div>
</div>
