@model string
@{
    ViewData["Title"] = "Support Page";
}

<div class="supportPage">
    <div class="homeButton">
        <button class="">
            <a class="" asp-area="" asp-controller="Support" asp-action="">Карта</a>
            </button>
            <button class="">
                <a class="" asp-area="" asp-controller="Support" asp-action="">Перевод текста</a>
            </button>
            <button class="">
                <a class="" asp-area="" asp-controller="Support" asp-action="">Мобильное приложение</a>
            </button>
            <button class="">
                <a class="" asp-area="" asp-controller="Support" asp-action="TechTaskSupport">ТЗ для Support</a>
            </button>
    </div>
    <div class="supportHeader">
        <h1>Страница поддержки пользователей приложения:</h1>
        <br/>
        <div>Карта:</div>
        <br/>
        <div>Перевод текста:</div>
        <br/>
        <div>Мобильное приложение:</div>
    </div>
</div>
