@*
    // кнопки для меню на странице Support
*@
<div class="homeButton">
    <button class="">
        <a class="" asp-area="" asp-controller="Support" asp-action="">Карта</a>
    </button>
    <button class="">
        <a class="" asp-area="" asp-controller="Support" asp-action="">Перевод текста</a>
    </button>
    <button class="">
        <a class="" asp-area="" asp-controller="Support" asp-action="">Мобильное приложение</a>
    </button>
    <button class="">
        <a class="" asp-area="" asp-controller="Support" asp-action="TechTaskSupport">ТЗ для Support</a>
     </button>
</div>
