@*
    // кнопки для меню на странице Support
*@
<div class="homeButton">
    <a class="" asp-area="" asp-controller="Support" asp-action="">Карта</a>
    <a class="" asp-area="" asp-controller="Support" asp-action="">Перевод текста</a>
    <a class="" asp-area="" asp-controller="Support" asp-action="">Мобильное приложение</a>
    <a class="" asp-area="" asp-controller="Support" asp-action="TechTaskSupport">ТЗ для Support</a>
</div>
