<div class="homeButton">
    <a asp-controller="Support" asp-action="">Карта</a>
    <a asp-controller="Support" asp-action="">Перевод текста</a>
    <a asp-controller="Support" asp-action="">Мобильное приложение</a>
    <a asp-controller="Support" asp-action="TechTaskSupport">ТЗ для Support</a>
</div>
