<div class="supportButton">
    <a asp-controller="Support" asp-action="Translate">Перевод текста</a>
    <a asp-controller="Support" asp-action="">Карта</a>
    <a asp-controller="Support" asp-action="">Прогноз погоды</a>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("superadmin")))
    {
        <a asp-controller="Support" asp-action="TechTaskSupport">ТЗ для Support</a>
    }
</div>
