@model TranslateTextViewModel
@{
    ViewData["Title"] = "Support Page";
}
<div class="supportPage">
     
    @await Html.PartialAsync("SupportButtonMenuPartial")

     <div class="supportHeader">
       
        <form method="post" asp-controller="Support" asp-action="Translate">
            <input asp-for="Languages" type="hidden" />
            <input asp-for="LanguagesList" type="hidden" />
            <input asp-for="LanguagesListJson" type="hidden" />
            <div class="container">
                <h1 class="display-4 text-center">Translate text</h1>
                
                <div>
                    <div>
                        <label asp-for="LanguageFrom"></label>
                        <select asp-for="LanguageFrom"
                            asp-items="@Model.LanguagesList" name="langFromSelect">
                        </select>
                    </div>
                </div>
                <div>
                    <div>
                        <label asp-for="LanguageTo"></label>
                        <select asp-for="LanguageTo"
                            asp-items="@Model.LanguagesList" name="langToSelect">   
                        </select>
                    </div>
                </div>

                <div class="area">
                    <div class="area-origin">
                        <h3 class="title">Оригинальный текст:</h3>
                        <textarea asp-for="TextOrigin" rows="7" cols="79" class="text-area-origin">
                        </textarea>
                    </div>
                    <div class="area-translate">
                        <h3 class="title">Перевод текста:</h3>
                        <!-- Не исправлять теги <textarea/> и </textarea>, иначе не выводит содержимое -->
                        <textarea asp-for="TextTranslated" rows="7" cols="79" class="text-area-translate"/> @Model.TextTranslated
                        </textarea>
                    </div>
                </div>

                <input type="submit" value="Перевести" />
            </div>
        </form>
    </div>
</div>