@model TranslateTextViewModel
@{
    ViewData["Title"] = "Support Page";
}
<div class="supportPage">
     
    @await Html.PartialAsync("SupportButtonMenuPartial")

     <div class="supportHeader">
       
        <form method="post" asp-controller="Support" asp-action="Translate">
            <input asp-for="LanguageFrom" type="hidden" />
            <input asp-for="LanguageTo" type="hidden" />
            <div class="container">
                <h1 class="display-4 text-center">Translate text</h1>
                <p>Translate from: @Model.LanguageFrom</p>
                <p>Translate to: @Model.LanguageTo</p>
                
                <div class="area">
                    <div class="area-origin">
                        <h3 class="title">English text:</h3>
                        <textarea asp-for="TextOrigin" rows="16" cols="79" class="text-area-origin">
                        </textarea>
                    </div>
                    <div class="area-translate">
                        <h3 class="title">Перевод текста:</h3>
                        <textarea asp-for="TextTranslated" rows="16" cols="79" class="text-area-translate" /> @Model.TextTranslated
                        </textarea>
                    </div>
                </div>

                <input type="submit" value="Перевести" />
            </div>
        </form>
    </div>
</div>