@model EditMenuViewModel

<div class="editPage">
    
    @await Html.PartialAsync("EditButtonMenuPartial")

    <div class="editHeader">
        @{
            var word = "";
            switch (@Model.type)
            {
                case "New":
                    word = "новостей";
                    break;
                case "Blog":
                    word = "блогов";
                    break;
                case "Product":
                    word = "турпродуктов";
                    break;
            }
        }
        <h2>1. Создание @word:</h2>
            
        <div class="div-box">
            <form asp-area="" asp-controller="Edit" asp-action="CreateEntity" method="get">
                <input type="hidden" asp-for="type" value="@Model.type"/>
                <input type = "submit" value="Создать"/>
            </form>
        </div>
        
        <h2>2. Редактирование/удаление @word:</h2>
            
        <div class="div-box">
                
            <h4>Выберите режим ввода:</h4>
                
            <form asp-area="" asp-controller="Edit" asp-action="GetQueryResultEntities" method="get">
                <input type="hidden" asp-for="type" value="@Model.type"/>
                <input type = "radio" asp-for="isFullName" value="true"/><span class="spanMarginLR">Полное название</span>
                <input type = "radio" asp-for="isFullName" value="false"/><span class="spanMarginLR">Ключевое слово</span>
                <div>
                    <input asp-for="fullNameOrKeywordOfItem" class="inputWidth-100" placeholder="Введите полное название / ключевое слово"/>
                </div>
                    <input type = "submit" value="Найти"/>
            </form>
        </div>
    </div>
</div>
