<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd /schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
      <target xsi:type="File" name="main_info" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${callsite} | ${uppercase:${level}} ${message} ${newline}" />
      <target xsi:type="File" name="error_info" fileName="${basedir}/logs/errors/${shortdate}.log"
            layout="${longdate} | ${callsite} | ${uppercase:${level}} ${message} ${newline}" />
  </targets>

  <rules>
      <logger name="*" maxlevel="Warn" writeTo="main_info" />
      <logger name="*" minlevel="Error" writeTo="error_info" />
  </rules>
</nlog>