@*
    // кнопки для меню на странице Admin
*@
<div class="adminButton">
        <button class="">
           <a id="" asp-area="" asp-controller="Admin" asp-action="Index" asp-route-type="New">Create / Edit / Delete новости</a>
        </button> 
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="Index" asp-route-type="Blog">Create / Edit / Delete блоги</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="Index" asp-route-type="Product">Create / Edit / Delete турпродукты</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="TechTaskAdmin">ТЗ для Admin</a>
        </button>
    </div>
