@model Product

<div class="adminPage">
    <div class="adminButton">
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="New">Редактировать новости</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Blog">Редактировать блоги</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Product">Редактировать турпродукты</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="TechTaskAdmin">ТЗ для Admin</a>
        </button>
    </div>
    <div class="adminHeader">
        
        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>

        <form asp-controller="Admin" asp-action="SaveItemProduct" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <div>
                <div asp-validation-summary="All"></div>
                <div class="displayFlexCol">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" asp-for="ShortDescription" />
                    <span asp-validation-for="ShortDescription"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="FullDescription"></label>
                    <textarea name="fullInfoAboutProduct" rows="20" cols="100" asp-for="FullDescription" >
                        Это текстовая область для CKEditor4
                    </textarea>
                    <span asp-validation-for="FullDescription"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="TitleImagePath"></label>
                    <h3>@Model.TitleImagePath</h3>
                    <div class="titleImage">
                        <img src="@Model.TitleImagePath" alt="Титульная картинка туристического продукта" align="left" width="50%"><img>
                    </div>
                    <input type="file" name="titleImagePath" asp-for="TitleImagePath" accept="image/*"/>
                    <span asp-validation-for="TitleImagePath"></span>
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('fullInfoAboutProduct');
    newCKEdit.updateElement();
</script>