@model ModelsErrorViewModel

<div class="adminPage">
    
    @await Html.PartialAsync("AdminButtonMenuPartial")

    <div class="adminHeader">
        <form method="post" asp-controller="" asp-action="">
            <input type="hidden" asp-for="RequestId" />
                        
            <div>
                <div class="padding_bottom_2">
                    <label asp-for="ErrorMessage"></label>
                    <input type="text" asp-for="ErrorMessage" />
                </div>
                <div class="padding_bottom_2">
                    <label asp-for="ModelTypeCalledError"></label>
                    <input type="text" asp-for="ModelTypeCalledError" />
                </div>
                <div>
                    <label asp-for="DateTimeError"></label>
                    <input type="text" asp-for="DateTimeError" />
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>

