@model ErrorViewModel

<div class="adminPage">
    <div class="adminButton">
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="Index">Администратору сайта</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="New">Редактировать новости</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Blog">Редактировать блоги</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Product">Редактировать турпродукты</a>
        </button>
    </div>
    <div class="adminHeader">
        <form method="post" asp-controller="" asp-action="">
            <input type="hidden" asp-for="RequestId" />
            <input type="hidden" asp-for="RequestId" />
            
            <div>
                <div class="padding_bottom_2">
                    <label asp-for="MessageToErrorViewModel"></label>
                    <input type="text" asp-for="MessageToErrorViewModel" />
                </div>
                <div class="padding_bottom_2">
                    <label asp-for="ModelTypeCalledError"></label>
                    <input type="text" asp-for="ModelTypeCalledError" />
                </div>
                <div>
                    <label asp-for="DateTimeError"></label>
                    <input type="text" asp-for="DateTimeError" />
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>

