@model Blog

<div class="adminPage">
    <div class="adminButton">
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="Index">Администратору сайта</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="New">Редактировать новости</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Blog">Редактировать блоги</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Product">Редактировать турпродукты</a>
        </button>
    </div>
    <div class="adminHeader">
        
        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>

        <form method="post" asp-controller="Admin" asp-action="SaveItemBlog">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="Message" />
            <input type="hidden" asp-for="FullMessageLine" />
            <div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" />
                </div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" asp-for="ShortDescription" />
                </div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="FullDescription"></label>
                    <textarea id="fullInfoAboutBlog" name="fullInfoAboutBlog"  rows="20" cols="100" asp-for="FullDescription" >
                        Это текстовая область для CKEditor4
                    </textarea>
                </div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="TitleImagePath"></label>
                    <input type="text" asp-for="TitleImagePath" />
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('fullInfoAboutBlog');
    newCKEdit.updateElement();
</script>