@model Product

<div class="adminPage">
    <div class="adminButton">
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="Index">Администратору сайта</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="New">Редактировать новости</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Blog">Редактировать блоги</a>
        </button>
        <button class="">
            <a id="" asp-area="" asp-controller="Admin" asp-action="EditMenu" asp-route-type="Product">Редактировать турпродукты</a>
        </button>
    </div>
    <div class="adminHeader">
        <form method="post" asp-controller="Admin" asp-action="SaveItemProduct">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" />
                </div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" asp-for="ShortDescription" />
                </div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="FullDescription"></label>
                    <input type="text" asp-for="FullDescription" />
                </div>
                <div class="padding_bottom_2 displayFlex">
                    <label asp-for="TitleImagePath"></label>
                    <input type="text" asp-for="TitleImagePath" />
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>