@model List<New>
@{

}

@{
   <div class="adminPage">
        <div class="adminButton">
            <button class="">
                <a class="" asp-area="" asp-controller="Admin" asp-action="">Резерв</a>
             </button>
             <button class="">
                <a class="" asp-area="" asp-controller="Admin" asp-action="">Резерв 2</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Admin" asp-action="">Резерв 3"</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Admin" asp-action="">Резерв 4</a>
             </button>
        </div>
        <div class="adminHeader">
            @foreach(var new_ in @Model)
            {
                <div>
                    <div class="padding_bottom_2">
                        <h2>@new_.Name</h2>
                    </div>
                    <div class="padding_bottom_2">
                        <h4>@new_.ShortDescription</h4>
                    </div>
                </div>
            }
        </div>
   </div>
}