@*@model DataManager *@
@{
    ViewData["Title"] = "Admin Page";
}

@{
   <div class="adminPage">
        <div class="adminButton">
            @* TODO:  необходимо сделать переход на asp-area="Admin"*@
            @* для этого реализовать аутентификацию и авторизацию с помощью фр-ка Entity *@
            <button class="">
                <a class="" asp-area="" asp-controller="Admin" asp-action="Index">Администратору сайта</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Admin" asp-action="EditNews">Редактировать новости</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Admin" asp-action="EditBlogs">Редактировать блоги</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Admin" asp-action="EditProducts">Редактировать турпродукты</a>
             </button>
        </div>
        <div class="searchHeader">
             
            <h1>Страница администратора сайта:</h1>

        </div>
   </div>
}

@*
<div class="text-center">
    <h1 class="display-4">Страница администратора сайта</h1>
    <p>Тут будут редактироваться новости, статистика, рейтинги, ссылки на другой функционал</p>
    <p>Тут будут редактироваться данные туристических продуктов: их названия, описания, фото и т.д. </p>
        <ul>
            <li>данная <strong>страница содержит ...</strong> (сверху - вниз): <strong>блок ..., блок ... и меню
                    ...</strong></li>
            <li>1) на странице м. <strong>редактировать ввод информации</strong>, новостей, рейтингов, статистики и т.д.
            </li>
            <li>2) на этой странице или другой м. <strong>редактировать данные с БД</strong> (создание новых записей;
                редактирование или удаление записей)</li>
            <li>вход на страницу - только для сотрудников турфирмы, у кот. <strong>логин admim и статус (роль)
                    admin</strong>
                    <br/>нужно создать <strong>3 роли и 3 admin с разным доступом: </strong>
                    <br/>admin с доступом к редактированию БД и новостей,
                    <br/>admin с доступом только к редактированию БД,
                    <br/>admin с доступом только к редактированию новостей
            </li>
            <li></li>
        </ul>
</div>
*@