@model List<Product>

@{
    ViewData["Title"] = "Home Page";
    var productId = 1;
}
 
 <h2>Страница для администратора:</h2>
 <h3>Виды туристических продуктов:</h3>

@{
    if (Model.Any())
    {
        foreach(var product in Model)
        {
            <a asp-controller="Admin" asp-action="Index" id="@product.Id" onclick="alert('клац по @product.Id')">@product.Name"</a><br/>
        }       
    }
}
    
@*
<div class="text-center">
    <h1 class="display-4">Страница для администратора</h1>
    <p>Тут будут редактироваться новости, статистика, рейтинги, ссылки на другой функционал</p>
    <p>Тут будут редактироваться данные туристических продуктов: их названия, описания, фото и т.д. </p>
        <ul>
            <li>данная <strong>страница содержит ...</strong> (сверху - вниз): <strong>блок ..., блок ... и меню
                    ...</strong></li>
            <li>1) на странице м. <strong>редактировать ввод информации</strong>, новостей, рейтингов, статистики и т.д.
            </li>
            <li>2) на этой странице или другой м. <strong>редактировать данные с БД</strong> (создание новых записей;
                редактирование или удаление записей)</li>
            <li>вход на страницу - только для сотрудников турфирмы, у кот. <strong>логин admim и статус (роль)
                    admin</strong>
                    <br/>нужно создать <strong>3 роли и 3 admin с разным доступом: </strong>
                    <br/>admin с доступом к редактированию БД и новостей,
                    <br/>admin с доступом только к редактированию БД,
                    <br/>admin с доступом только к редактированию новостей
            </li>
            <li></li>
        </ul>
</div>
*@