@model LoginViewModel

<div class="adminPage">

    <div class="adminHeader">

        <h1 class="title">Страница администратора сайта:</h1>
        <hr class="horizontal-line" />
        <br />
    
        <form asp-controller="Admin" asp-action="Login" method="post">
            <input hidden asp-for="ReturnUrl" />
        
            <div>
                <label asp-for="LoginName"></label>
                <input type="text" asp-for="LoginName" />
                <span asp-validation-for="LoginName"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
 
            <button type="submit">Login</button>
        </form>

    </div>
</div>