@import '_templates.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

%reset {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html, body, header, menu, nav, footer, aside, h1, h2, h3, h4, h5, h6, p, a, div, span, section, iframe, code, img, strong, u, i, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article {
    @extend %reset;
}

