@use 'variables' as vars;
@use '../mixins/mixins' as mix;

@mixin page-template {
    height: 100vh;
    background-color: vars.$background-color_10;
}

@mixin header-page-template {
    height: 100vh;
    padding: 1em;
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

@mixin background-norepeat-template {
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin header-page-unscroll-template {
    height: 500px;
    padding: 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@mixin header-page-one-template {
    height: 500px;
    background-color: vars.$background-color_10;
    padding: 1em;
    margin: 0;
    overflow-y: scroll;
}

@mixin header-page-980 {
    background-size: 225%;
    overflow: auto;
    height: 100%;
}

@mixin search-block-template {
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0.5em 1em 0.25em;
    background-color: vars.$background-color_11;
}

@mixin blog-template {
    padding: 10px 25px 15px 30px;
    border-radius: 10px;
    background-color: vars.$background-color_3;
}

@mixin foto-template {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

@mixin img-template {
    width: 100%;
    float: left;
    object-fit: cover;
    padding: 0.5em;
}

@mixin img-edit-about-template {
    width: 100%;
    object-fit: cover;
    padding: 0.5em;
}

@mixin button-template {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: vars.$background-color_10;
    margin-top: 1em;
    padding: 0.5em 1em;
    border-bottom: 2px solid white;
}

@mixin button-link-template {
    display: inline-block;
    padding: 10px 25px;
    color: vars.$color_7;
    background-color: vars.$background-color_2;
    text-decoration: none;
    width: 8em;
    border-radius: 10px;
    text-align: center;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

@mixin button-link-tablet-template {
    text-align: center;
    margin-bottom: 0.5em;
    padding: 5px;
}    