@import '_variables.scss';
@import '_templates.scss';
@import '../mixins/mixins.scss';

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    font-size: 13.5pt;
    background-image: url(../background/blue-water.jpg);
    font-family: $font-family_1;
    color: $color_2;
    letter-spacing: -1px;
    user-select: none;
}

h1 {
    color: $color_3;
    text-transform: lowercase;
    font-size: 2.4em;
}

h2 {
    color: $color_3;
    text-transform: lowercase;
    font-size: 1.9em;
    letter-spacing: -1px;
}

h3 {
    color: $color_4;
    font-size: 1.2em;
    margin-bottom: 0.6em;
    font-weight: 500;
}

h4 {
    color: $color_4;
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

p {
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

a {
    color: $color_6;
    text-decoration: underline;
}

ul {
    margin-bottom: 1.25em;
    padding: 0.25em 0 0 0;
}

strong {
    color: $color_5;
}

article {
    display: block;
    margin: 0 0 60px 0;

    &:last-child {
        margin-bottom: 0;
    }
}