@use 'variables' as vars;
@use 'templates' as tmp;
@use '../mixins/mixins' as mix;

html {
    @include mix.tablet {
        overflow-x: hidden;
    }
}

body {
    min-height: 100%;
    margin: 0;
    line-height: 1;
    font-size: 13.5pt;
    background-image: url(../background/blue-water.jpg);
    font-family: vars.$font-family_1;
    color: vars.$color_2;
    letter-spacing: -1px;
    user-select: none;

    @include mix.tablet {
        overflow-x: hidden;
    }

    @include mix.mobile {
        font-size: 13pt;
    }
}
#page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include mix.tablet {
        padding-top: 44px;
        padding-bottom: 1px;
        backface-visibility: hidden;
        transition: transform 0.5s ease;
    }
}

.main-content {
    flex: 1;
}

h1 {
    color: vars.$color_3;
    text-transform: lowercase;
    font-size: 2.4em;

    @include mix.tablet {
        font-size: 2.2em;
    }

    @include mix.mobile {
        font-size: 2em;
    }
}

h2 {
    color: vars.$color_3;
    text-transform: lowercase;
    font-size: 1.9em;
    letter-spacing: -1px;

    @include mix.desktop {
        font-size: 1.7em;
    }

    @include mix.mobile {
        font-size: 1.4em;
    }
}

h3 {
    color: vars.$color_4;
    font-size: 1.2em;
    margin-bottom: 0.6em;
    font-weight: 500;
}

h4 {
    color: vars.$color_4;
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

p {
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

a {
    color: vars.$color_6;
    text-decoration: underline;
}

ul {
    margin-bottom: 1.25em;
    padding: 0.25em 0 0 0;
}

strong {
    color: vars.$color_5;
}

article {
    display: block;
    margin: 0 0 60px 0;

    &:last-child {
        margin-bottom: 0;
    }
}