$color_1: inherit;
$color_2: #878e83;
$color_3: #007897;
$color_4: #283121;
$color_5: #474e43;
$color_6: #2240c7;
$color_7: white;
$color_8: rgba(0, 0, 0, 0.5);
$color_9: #fff;
$color_10: #A6A88F;
$color_blue_grey_1: #008dab;
$color_blue_grey_2: #007294;
$color_blue_grey_3: #008ead;
$color_blue_grey_4: #007b9d;

$font-family_1: url(/webfonts/UbuntuCondensed-Regular.ttf);
$font-family_2: 'Times New Roman', 'Times', 'serif';
$font-family_3: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';

$background-color_1: transparent;
$background-color_2: #008dab;
$background-color_3: #bfe8ed;
$background-color_4: #007b9d;
$background-color_5: #118eb1;
$background-color_6: #007294;
$background-color_7: #007897;
$background-color_8: #0882a1;
$background-color_9: #ced0b7;
$background-color_10: #7dced8;
$background-color_11: #62cad1;

$superdesktop: 1680px;
$desktop: 1280px;
$tablet: 980px;
$mobile: 736px;
$small-mobile: 600px;
