@model List<New>

@{
    ViewData["Title"] = "Home Page";
}

@{
    var News = new List<New>{
        new New{Id = 1, 
            Name = "Названі найпопулярніші країни для переїзду у 2022 році", 
            Description = "Компанія Compare the Market склала ТОП-популярні місця, куди хочуть переїхати люди з різних країн. На першому місці розташувалася Канада. Для складання рейтингу Compare the Market проаналізувала пошукові запити до Google, пов'язані з переїздом та бронюванням житла. Для аналізу обрали близько сотні країн. ТОП-рейтингу очолили: Канада, Японія, Іспанія, Китай, Франція, Туреччина, Південна Африка, Індія, Австралія, Греція, Фіджі. Повний список країн можна побачити тут." },
        new New{Id = 2, 
            Name = "Українцям, які перебувають у Польщі понад 183 дні, потрібно буде сплатити податок", 
            Description = "Повідомляється, що з наступного тижня (22 – 28 серпня) термін перебування в Польщі у багатьох українських біженців вже перевищить 183 дні. Відповідно до міжнародних зобов'язань, саме після 183 днів прибулий зобов'язаний сплачувати податок у тій країні, де перебуває. Польське законодавство передбачає, що податок (PIT) потрібно сплачувати до 20 числа того місяця, що йде наступним за місяцем, де перебування в Польщі перевищило 183 дні. Отже, ті, у кого ці 183 дні закінчуються у серпні, повинні будуть подати PIT за півроку у вересні. Далі відрахування стануть щомісячними. Податок стягується з доходів, отриманих протягом останніх 183 дня." },
        new New{Id = 3, 
            Name = "Названі найдоступніші європейські міста для студентів у 2022 році", 
            Description = "Ресурс StudentGoGlobal склав рейтинг найдоступніших європейських міст для студентів. На першому місці опинилося португальське місто Порту. При складанні рейтингу його автори проаналізували 250 міст по всьому світу, перша десятка виглядає так: Порту (Португалія), Прага (Чехія), Мадрид (Іспанія), Барселона (Іспанія), Бірмінгем (Велика Британія), Лідс (Великобританія), Белфаст (Велика Британія), Глазго (Велика Британія), Гетеборг (Швеція), Едінбург (Велика Британія)." },
        new New{Id = 4, 
            Name = "У Стамбулі відкрили одну з найдовших скляних оглядових терас у Європі", 
            Description = "В азійській частині Стамбула, в одній із найвищих будівель міста, облаштували скляну оглядову терасу, яка відкриває унікальний панорамний краєвид мегаполіса. У Стамбулі відкрили оглядову терасу, яка пропонує прогулятися скляною підлогою на висоті 200 метрів. Тераса відкриває панорамний краєвид Стамбула з 360-градусною оглядовістю, – повідомляє видання" },
        new New{Id = 5, 
            Name = "На Львівщині відреставрували костел біля Підгорецького замку", 
            Description = "На Львівщині у межах програми «Велика реставрація» завершено ремонтно-реставраційні роботи в костелі Св. Йосифа, пам'ятці архітектури національного значення 1763 р., розташованій біля Підгорецького замку. Зазначається, що з вересня по грудень 2021 року в межах президентської програми \"Велике будівництво\" провели реставрацію та протиаварійні роботи в храмі Св. Йосифа у с. Підгірці, Бродівського району, Львівської області (церкви Блаженного Миколая Чарнецького та новомучеників УГКЦ). Це пам’ятка архітектури національного значення, збудована 1763 р." }
    };

 }
     <div class="homePage">
         <div class="homeButton">
             <button class="">
                <a class="" asp-area="" asp-controller="Home" asp-action="GetAllNews">Новости со всего мира</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Home" asp-action="GetAllBlogs">Блоги о туризме</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Home" asp-action="">Резерв</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Home" asp-action="">Резерв 2</a>
             </button>
         </div>
         <div class="homeHeader">
           @foreach(var newItem in News)
           {
                <div>
                    <div class="padding_bottom_2">
                        <h2>@newItem.Name</h2>
                    </div>
                    <div class="padding_bottom_2">
                        <h4>@newItem.Description</h4>
                    </div>
                    <div>
                        <!--  TODO: создать метод по выводу отдельной новости -->
                        <a asp-controller="Home" asp-action="GetNew" asp-route-id="@newItem.Id">Подробнее ...</a>
                    </div>

                </div> 
           }
        </div>
     </div>
 
    
 

 