@model Int32

@{
    ViewData["Title"] = "Home Page";
}

@{
    var News = new List<New>{
        new New{Id = 1, 
            Name = "Названі найпопулярніші країни для переїзду у 2022 році", 
            Description = "Компанія Compare the Market склала ТОП-популярні місця, куди хочуть переїхати люди з різних країн. На першому місці розташувалася Канада. Для складання рейтингу Compare the Market проаналізувала пошукові запити до Google, пов'язані з переїздом та бронюванням житла. Для аналізу обрали близько сотні країн. ТОП-рейтингу очолили: Канада, Японія, Іспанія, Китай, Франція, Туреччина, Південна Африка, Індія, Австралія, Греція, Фіджі. Повний список країн можна побачити тут." },
        new New{Id = 2, 
            Name = "Українцям, які перебувають у Польщі понад 183 дні, потрібно буде сплатити податок", 
            Description = "Повідомляється, що з наступного тижня (22 – 28 серпня) термін перебування в Польщі у багатьох українських біженців вже перевищить 183 дні. Відповідно до міжнародних зобов'язань, саме після 183 днів прибулий зобов'язаний сплачувати податок у тій країні, де перебуває. Польське законодавство передбачає, що податок (PIT) потрібно сплачувати до 20 числа того місяця, що йде наступним за місяцем, де перебування в Польщі перевищило 183 дні. Отже, ті, у кого ці 183 дні закінчуються у серпні, повинні будуть подати PIT за півроку у вересні. Далі відрахування стануть щомісячними. Податок стягується з доходів, отриманих протягом останніх 183 дня." },
        new New{Id = 3, 
            Name = "Названі найдоступніші європейські міста для студентів у 2022 році", 
            Description = "Ресурс StudentGoGlobal склав рейтинг найдоступніших європейських міст для студентів. На першому місці опинилося португальське місто Порту. При складанні рейтингу його автори проаналізували 250 міст по всьому світу, перша десятка виглядає так: Порту (Португалія), Прага (Чехія), Мадрид (Іспанія), Барселона (Іспанія), Бірмінгем (Велика Британія), Лідс (Великобританія), Белфаст (Велика Британія), Глазго (Велика Британія), Гетеборг (Швеція), Едінбург (Велика Британія)." }
    };

    // TODO: это временная заглушка
    
    var newItem = new New();
    switch (Model)
    {
        case 1: 
            newItem = News[0];
            break;
        case 2: 
            newItem = News[1];
            break;
        case 3: 
            newItem = News[2];
            break;
        default: 
            break;
    }
             
}
     <div class="homePage">
        <div class="homeHeader">
            <div class="padding_bottom_2">
                <h2>@newItem.Name</h2>
            </div>
            <div class="padding_bottom_2">
                <h4>@newItem.Description</h4>
            </div>
        </div>
        <div class="homeButton">
             <button class="">
                 <a class="" asp-area="" asp-controller="Home" asp-action="GetAllNews">Новости со всего мира</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Home" asp-action="GetAllArticles">Путешественникам от "А" до "Я"</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="About" asp-action="Index">О нас</a>
             </button>
        </div>
     </div>
