@*
    // кнопки для меню на странице Home
*@
<div class="homeButton">
        <button class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="GetAllNews">Новости со всего мира</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="GetAllBlogs">Блоги о туризме</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="">Резерв</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="TechTaskHome">ТЗ для Home</a>
        </button>
    </div>