@*
    // кнопки для меню на странице Home
*@
<div class="homeButton">
    <a class="" asp-area="" asp-controller="Home" asp-action="GetAllNews">Новости со всего мира</a>
    <a class="" asp-area="" asp-controller="Home" asp-action="GetAllBlogs">Блоги о туризме</a>
    <a class="" asp-area="" asp-controller="Home" asp-action="">Резерв</a>
    <a class="" asp-area="" asp-controller="Home" asp-action="TechTaskHome">ТЗ для Home</a>
</div>