@model List<New>

@{
    ViewData["Title"] = "Home Page";
}

@{
   <div class="homePage">
        <div class="homeHeader">
            
        </div>
        <div class="homeButton">
            <button class="">
                <a class="" asp-area="" asp-controller="Home" asp-action="GetAllNews">Новости со всего мира</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Home" asp-action="GetAllArticles">Путешественникам от "А" до "Я"</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="About" asp-action="Index">О нас</a>
             </button>
        </div>
   </div>
    
}

 @*
<div class="text-center">
    <h1 class="display-4">Домашняя страница</h1>
    <p>Тут будут новости, статистика, рейтинги, ссылки на другой функционал</p>
        <ul>
            <li>данная страница содержит <strong>большую красивую пейзажную картинку</strong> (м.б. тропический остров с
                пальмами) <strong>и 4 кнопки</strong> (сверху - вниз):
                <strong> <br />кнопка "Новости со всего мира",
                    <br /> кнопка "Поиск туров"
                    <br />кнопка "Путешественникам от "А" до "Я""
                    <br />кнопка "О нас"</strong>
            </li>
            <li>Д.б. <strong>изменяемые новости</strong>, информация о будущих интересных событиях, акциях
                <br />по нажатию <strong>на кнопку "Новости со всего мира"</strong>: справа 1/3 ширины экрана -
                <strong>блок со списком всех новостей</strong> с вертикальным скроллом, слева - 2/3 ширины экрана -
                <strong>выделенная новость</strong> с фото и текстом вертикальным скроллом
            </li>
            <li>по нажатию <strong>на кнопку "Поиск туров"</strong> - <strong>переходим на вторую страницу -
                    Search</strong></li>
            <li>Д.б. <strong>интересная информация</strong> о странах, городах, об интересных местах, о политике,
                истории, культуре народов, их обычаях, праве
                <br />по нажатию <strong>на кнопку "Путешественникам от "А" до "Я""</strong>: справа 1/3 ширины экрана -
                <strong>блок со списком всех статей, сообщений</strong> с вертикальным скроллом, слева - 2/3 ширины
                экрана - <strong>выделенная статья, сообщение</strong> с фото и текстом вертикальным скроллом
                <br />м.б. <strong>статистика</strong> туристических путешествий
                <br />м.б. <strong>рейтинги</strong> туров, стран, городов, интересных мест, гостинниц и т.д.
            </li>
            <li>по нажатию <strong>на кнопку "О нас"</strong> - <strong>переходим на пятую страницу - About</strong>
            </li>
            <li>м.б. отдельные блоки информации подавать <strong>кратко</strong> и дать возможность пользователю
                прочитать всю информацию, нажав на ссылку/кнопку <strong>"Читать больше"</strong></li>
        </ul>
</div>
*@