<h3>Несколько рекомендаций для сохранения карт страны:</h3>
<p>1. Для создания карты используй ресурс <a>https://www.google.com/maps/d/</a></p>
<p>
    2. Когда карта создана, в меню бургера выбирай "Вставить на мой сайт". Появится окно, в котором нужно выбрать скрипт вида &lt;iframe src="https://www.google.com/maps/d/embed?mid=...&ehbc=2E312F&noprof=1" width="640" height="480"&gt;&lt;/iframe&gt;
</p>
<p>3. Параметр <strong>noprof=1 - не добавлять профиль собственника (фото, фио)</strong> // Отключить ползунок для "Добавьте в заголовок изображение профиля и имя собственника"</p>
<p>4. Параметр <strong>ehbc=2E312F - цвет таблицы</strong> // По дефолту - черный</p>
<p>5. Параметр <strong>mid - шифр</strong> // Берется из тега iframe</p>
<p>6. Параметр  <strong>ll - широта и долгота центра карты</strong> // Нужно погуглить и вставить в тег iframe после символа '&' (например:  &ll=49.3170,30.9064)</p>
<p>7. Параметр  <strong>z - зум для карты</strong> // Для страны обычно 5-6, для большой страны - 4. Нужно вставить в тег iframe после символа '&' (например: &z=5)</p>
