@model Country

<div class="editPage">
    
    @await Html.PartialAsync("../Edit/EditButtonMenuPartial")

    <div class="editHeader">
        
        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>

        <form asp-controller="Countries" asp-action="SaveCountry" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />
            <div>
                <div asp-validation-summary="All"></div>
                <div class="displayFlexCol">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" asp-for="ShortDescription" />
                    <span asp-validation-for="ShortDescription"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="FullDescription"></label>
                    <textarea name="fullInfoAboutCountry" rows="20" cols="100" asp-for="FullDescription" >
                        Это текстовая область для CKEditor4
                    </textarea>
                    <span asp-validation-for="FullDescription"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="Capital"></label>
                    <input type="text" asp-for="Capital" />
                    <span asp-validation-for="Capital"></span>
                </div>
                <div class="flexRow">
                    <div class="citiesList">
                        @if (Model.Cities != null)
                        {
                            <h3>Города:</h3>
                            <ul>
                                @foreach (var city in Model.Cities)
                                {
                                    <li>@city.Name </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="CountryMapPath"></label>
                    <input type="text" asp-for="CountryMapPath" />
                    <span asp-validation-for="CountryMapPath"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="TitleImagePath"></label>
                    <h4>@Model.TitleImagePath</h4>
                    <div class="titleImage">
                        <img src="@Model.TitleImagePath" alt="Титульная картинка страны" align="left" width="50%"><img>
                    </div>
                    <input type="file" name="changeTitleImagePath" asp-for="TitleImagePath" accept="image/*" />
                    <span asp-validation-for="TitleImagePath"></span>
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('fullInfoAboutCountry');
    newCKEdit.updateElement();
</script>