<div class="asidePage">
    
    @await Html.PartialAsync("_UsefulLinksPartial")
    <br/>
    
    @await Html.PartialAsync("_SocialNetsLinksPartial")
    <br/>

    @await Html.PartialAsync("_FeedbackLinksPartial")
    
</div>