<h2>Мы в соцсетях:</h2>
<div class="marginTop05">
    <a href="https://@ConfigData.Facebook" target="_blank" class="iconLink">
        <img src="~/icons/facebook.png" alt="Facebook" width="24" height="24">
        <h4>Facebook</h4>
    </a>
</div>
<div>
    <a href="https://@ConfigData.WhatsApp" target="_blank" class="iconLink">
        <img src="~/icons/whatsapp.png" alt="WhatsApp" width="24" height="24">
        <h4>WhatsApp</h4>
    </a>
</div>
<div>
    <a href="https://@ConfigData.Telegram" target="_blank" class="iconLink">
        <img src="~/icons/telegram.png" alt="Telegram" width="24" height="24">
        <h4>Telegram</h4>
    </a>
</div>
<div>
    <a href="https://@ConfigData.Viber" target="_blank" class="iconLink">
        <img src="~/icons/viber.png" alt="Viber" width="24" height="24">
        <h4>Viber</h4>
    </a>
</div>