<h2>Полезные ссылки:</h2>

<div class="marginTop05">
    <a href="tel:@ConfigData.CompanyPhone" target="_blank" class="iconLink">
        <img src="~/icons/call.png" alt="Позвонить" width="24" height="24">
        <h4>Позвонить</h4>
    </a>
</div>
<div>
    <a href="mailto:@ConfigData.CompanyEmail" target="_blank" class="iconLink">
        <img src="~/icons/question-mark.png" alt="Задать вопрос" width="24" height="24">
        <h4>Задать вопрос</h4>
    </a>
</div>
<div>
    <a href="https://@ConfigData.CalculateTourSite" target="_blank" class="iconLink">
        <img src="~/icons/calculator.png" alt="Посчитать тур:" width="24" height="24">
        <h4>Посчитать тур</h4>
    </a>
</div>