@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="errorPage">
   
    @if (Model.ShowRequestId)
    {
        <p class="text-danger-text">
            <strong>Request ID лога:</strong> 
        </p>
        <p class="text-danger-text2">
            <code class="copy-allowed">@Model.RequestId</code>
        </p>
    }

    <p class="text-danger-text2">
        Подробности - в режиме <strong>"Development"</strong>
    </p>
</div>
