@model ErrorViewModel
@{
    ViewData["Title"] = "ErrorPage";
}  
<div class="errorPage">
        <div class="errorButton">
            <a asp-controller="" asp-action="">Резерв</a>
            <a asp-controller="" asp-action="">Резерв 2</a>
            <a asp-controller="" asp-action="">Резерв 3</a>
            <a asp-controller="" asp-action="">Резерв 4</a>
        </div>
        <div class="errorHeader">
            <h3>Упс, вы допустили ошибку:</h3><br/>
            
            <h2>Содержание ошибки:</h2><br/>
            <h3 class="text-danger">@Model.ErrorMessage</h3><br/>
            
            <h2>Время ошибки: </h2><br/>
            <h3 class="text-danger">@Model.DateTimeError</h3>
        </div>
   </div>




