@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}  

<div class="errorPage">
        <div class="errorButton">
            <button class="">
                <a class="" asp-area="" asp-controller="" asp-action="">Назад</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="" asp-action="">Резерв</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="" asp-action="">Резерв 2</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="" asp-action="">Резерв 3</a>
             </button>
        </div>
        <div class="errorHeader">
            <h1>Страница вывода ошибок:</h1>
            <h2 class="text-danger">Возникла ошибка</h2>
            <h2 class="text-danger">@Model.MessageToErrorViewModel</h2>
            <p>
                Тип объекта, вызвавший ошибку:  @Model.ModelTypeCalledError
            </p>
            @{
                var requestId = Model.RequestId ?? null;
                if (Model.IsRequestId(requestId))
                {
                    <p>Возможно, объект с указанным id = @requestId отсутствует в БД</p>
                }
                else
                {
                    <p>Возможно, указанный объект отсутствует в БД</p>
                }
                <h3>Время появления ошибки: @Model.DateTimeError</h3>
            }
         </div>
   </div>




