@*
    Добавление футера
*@

<div id="footer-wrapper">
	<div class="col-12">
		<div id="copyright">
			<h4>&copy; All rights reserved.  | Owner:   
				<a href="/About">@ConfigData.CompanyName</a>   
				| Design:  
				<a href="http://html5up.net">HTML5 UP</a>
			</h4>
		</div>
	</div>
</div>