@*
    Заголовок. В заголовке - меню
*@

<div id="header-wrapper" >
	<div class="container">
		<div class="row">
			<div class="col-12">

				<header id="header">
					<h1><a asp-controller="Home" asp-action="Index" id="logo">@ConfigData.CompanyName.ToString()</a></h1>
					<nav id="nav">
						<a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="" asp-area="" asp-controller="Search" asp-action="Index">Search</a>
                        <a class="" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        <a class="" asp-area="" asp-controller="Support" asp-action="Index">Support</a>
                        <a class="" asp-area="" asp-controller="About" asp-action="Index">About</a>
                                                                       
                        <!--    формат заимствованного html/css шаблона -->
                        <!--    <a href="index.html">Homepage</a>   -->
						<!--    <a href="twocolumn1.html" class="current-page-item">Two Column #1</a>   -->
					</nav>
				</header>

			</div>
		</div>
	</div>
</div>