@*
    Заголовок. В заголовке - меню
*@
@*
	Дефолтные значения
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ToursWebAppEXAMProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
*@

<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<header id="header">
					<h1><a href="index.html" id="logo">Minimaxing</a></h1>
					<nav id="nav">
						<a href="index.html">Homepage</a>
						<a href="twocolumn1.html" class="current-page-item">Two Column #1</a>
						<a href="twocolumn2.html">Two Column #2</a>
						<a href="onecolumn.html">One Column</a>
						<a href="threecolumn.html">Three Column</a>
					</nav>
				</header>

			</div>
		</div>
	</div>
</div>