@*
    Подключение метатегов и заголовка страницы
*@
@*
    Дефолтные значения
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
*@

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

@*TODO: Подкорректировать название*@
<title>@ViewData["Title"] - ToursWebAppEXAMProject</title>
