@model ErrorViewModel
@{
    ViewData["Title"] = "ModelsError";
}  
@{
    //TODO: переработать кнопки ErrorViewModel и протестировать
}
<div class="errorPage">
        <div class="errorButton">
            <button class="">
                <a class="" asp-area="" asp-controller="" asp-action="">Назад</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="" asp-action="">Резерв</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="" asp-action="">Резерв 2</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="" asp-action="">Резерв 3</a>
             </button>
        </div>
        <div class="errorHeader">
            <h2>Упс, вы допустили ошибку:</h2><br/>
            
            <h3>Содержание ошибки:</h3><br/>
            <p class="text-danger">@Model.ErrorMessage</p><br/>
            
            <h3>Время ошибки: </h3><br/>
            <p class="text-danger">@Model.DateTimeError</p>
        </div>
   </div>




