@model ErrorViewModel
@{
    ViewData["Title"] = "Nothing";
}

<div class="errorPage">
    <div class="errorButton">
        <a asp-controller="Edit" asp-action="Index">Index</a>
        <a asp-controller="Edit" asp-action="">Резерв 2</a>
        <a asp-controller="Edit" asp-action="">Резерв 3</a>
        <a asp-controller="Edit" asp-action="">Резерв 4</a>
    </div>
    <div class="errorHeader">
        <h3>К сожалению, нет данных:</h3><br />

        <h2>Описание проблемы:</h2><br />
        <h3 class="text-danger">@Model.ErrorMessage</h3><br />
        <h3>Попробуйте сделать другой запрос</h3>

        <h2>Время появления проблемы: </h2><br />
        <h3 class="text-danger">@Model.DateTimeError</h3>
    </div>
</div>
