@model NothingViewModel

<div class="errorPage"> 
    <div class="errorHeader">
        <h4>К сожалению, нет данных:</h4><br />

        <h3>Описание проблемы:</h3><br />
        <h4 class="text-danger">@Model.WarnMessage</h4><br />
        <h4>Попробуйте сделать другой запрос</h4>

        <h3>Время появления проблемы: </h3><br />
        <h4 class="text-danger">@Model.DateTimeWarn</h4>
    </div>
</div>
