@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>!!! Это боковая часть !!!</h2>
<h2>Автономные блоки - одинаковые на всех страницах</h2>
<h3>Заголовок</h3>
    <ul>
        <li>В Заголовке - д.б. <strong>название турфирмы, ее логотип</strong> на фоне красивого тропического пейзажа
        </li>
        <li>Д.б. <strong>меню навигации - Home, Search, Admin, Support, About</strong></li>
        <li>д.б. возможность перевести на иностранный язык, т.е. д.б. <strong>локализация</strong></li>
    </ul>
<h3>Боковая панель/-ли</h3>
    <ul>
        <li>м.б. контакты, "позвонить", что то другое (вспомогательная информация или дополнительный сервис)</li>
        <li></li>
    </ul>
<h3>Футер</h3>
    <ul>
        <li>В футере - д.б. <strong>"Разделы сайта", "Туристам", "Наши контакты", "Мы - в социальных сетях"</strong>
        </li>
        <li><strong>Рабочие ссылки</strong> на указанные ресурсы</li>
        <li><strong>Авторские права</strong> на сайт, на дизайн и т.д.</li>
    </ul>