@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="asidePage">
    <h2>Полезные ссылки:</h2>

    <div>
       <a href="tel:+380952030852"
            <a asp-controller="Support" asp-action="" asp-route-service="call">
                <img src="~/images/Dial.bmp" alt="Позвонить" width="24" height="24">
                <h3>Позвонить</h3>
            </a>
       
       </a>
    </div>
    <div>   
        <a href="mailto:macedon1971@gmail.com"
            <a asp-controller="Support" asp-action="" asp-route-service="ask">
                <img src="~/images/Question.bmp" alt="Задать вопрос" width="24" height="24">
                <h4>Задать вопрос</h4>
            </a> 
        
        </a> 
    </div> 
    <div>
        <a asp-controller="Support" asp-action="" asp-route-service="calculate">
            <img src="~/images/Calculator.bmp" alt="Посчитать тур:" width="24" height="24">
            <h4>Посчитать тур</h4>
        </a>   
    </div>
    <br/>
    <h2>Мы в соцсетях:</h2>
    <div>
        <a asp-controller="Support" asp-action="">
            <img src="~/images/Facebook.png" alt="Facebook" width="24" height="24">
            <h3>Facebook</h3>
        </a>
    </div>
    <div>
        <a asp-controller="Support" asp-action="">
            <img src="~/images/Instagram.png" alt="Instagram" width="24" height="24">
            <h3>Instagram</h3>
        </a>
    </div>
    <div>
        <a asp-controller="Support" asp-action="">
            <img src="~/images/Telegram.png" alt="Telegram" width="24" height="24">
            <h3>Telegram</h3>
        </a>
    </div>
    <div>
        <a asp-controller="Support" asp-action="">
            <img src="~/images/Viber.png" alt="Viber" width="24" height="24">
            <h3>Viber</h3>
        </a>
    </div>
</div>

    
@*
<h2>!!! Это боковая часть !!!</h2>
<h2>Автономные блоки - одинаковые на всех страницах</h2>
<h3>Заголовок</h3>
    <ul>
        <li>В Заголовке - д.б. <strong>название турфирмы, ее логотип</strong> на фоне красивого тропического пейзажа
        </li>
        <li>Д.б. <strong>меню навигации - Home, Search, Admin, Support, About</strong></li>
        <li>д.б. возможность перевести на иностранный язык, т.е. д.б. <strong>локализация</strong></li>
    </ul>
<h3>Боковая панель/-ли</h3>
    <ul>
        <li>м.б. контакты, "позвонить", что то другое (вспомогательная информация или дополнительный сервис)</li>
        <li></li>
    </ul>
<h3>Футер</h3>
    <ul>
        <li>В футере - д.б. <strong>"Разделы сайта", "Туристам", "Наши контакты", "Мы - в социальных сетях"</strong>
        </li>
        <li><strong>Рабочие ссылки</strong> на указанные ресурсы</li>
        <li><strong>Авторские права</strong> на сайт, на дизайн и т.д.</li>
    </ul>
*@