@import '../base/_variables.scss';
@import '../base/_templates.scss';
@import '../mixins/mixins.scss';

.asidePage {
    min-height: 560px;
    background-color: $background-color_10;
    margin: 1em 0 0 1em;
    padding: 1em;

    > div {
        display: flex;
        margin-bottom: 0.5em;

        > a {
            display: flex;
            align-items: center;
            margin-right: 1em;

            > h3 {
                margin-bottom: 0;
            }

            > h4 {
                margin-bottom: 0;
            }
        }
    }

    > h2 {
        margin-bottom: 0.2em;
    }
}