@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

.asidePage {
    min-height: 560px;
    background-color: vars.$background-color_10;
    margin: 1em 0 0 1em;
    padding: 1em;

    > div {
        display: flex;
        margin-bottom: 0.5em;

        > a {
            display: flex;
            align-items: center;
            margin-right: 1em;

            > h3 {
                margin-bottom: 0;
            }

            > h4 {
                margin-bottom: 0;
            }
        }
    }

    > h2 {
        margin-bottom: 0.2em;
    }

    @include mix.tablet {
        margin: 12.5em 0 0;
    }

    @include mix.mobile {
        margin: 0.5em 0 0;
    }
}