@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

#footer-wrapper {
    background-color: vars.$background-color_9;

    @include mix.mobile {
        padding: 0;
    }
}

#copyright {
    text-align: center;
    color: vars.$color_10;
    border-top: solid 1px #0693ba;
    padding: 0.5em 0 0.5em 0;
    margin: 0.5em 0;

    @include mix.mobile {
        line-height: 1.5em;
    }

    a {
        color: vars.$color_6;
    }
}