@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;

    @include mix.mobile {
        flex-direction: column;
    }
}

.displayFlex {
    display: flex;
}

.col-2 {
    width: 16.666%;

    @include mix.tablet {
        width: 100%;
    }
}

.col-6 {
    width: 50%;

    @include mix.mobile {
        width: 100%;
    }
}

.col-10 {
    width: 83.333%;

    @include mix.tablet {
        width: 100%;
    }
}

.col-12 {
    width: 100%;
}