@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

#header-wrapper {
    @include mix.blue-grey-gradient;
    background-color: vars.$background-color_6;
}

#header {
    @include mix.blue-grey-gradient2;
    background-color: vars.$background-color_4;
    box-sizing: content-box;
    padding: 0 40px 0 40px;
    border-radius: 10px;
    border: solid 1px #006e8b;
    box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
        color: vars.$color_9;
        font-size: 2.4em;
        letter-spacing: -2px;
        line-height: 86px;

        a {
            color: vars.$color_9;
            text-decoration: none;
        }
    }
}
