@import '../base/_variables.scss';
@import '../base/_templates.scss';

#nav {
    line-height: 84px;
    text-transform: lowercase;
    font-size: 1.3em;
    letter-spacing: -1px;
    display: flex;
    gap: 20px;
    align-items: center;

    a {
        display: inline-block;
        text-decoration: none;
        color: $color_9;
        padding: 0 25px 0 25px;
        outline: 0;
        font-size: 18px;
        border-radius: 8px;

        &:hover {
            background-image: -moz-linear-gradient(top, #0782a0, #077d9b);
            background-image: -webkit-linear-gradient(top, #0782a0, #077d9b);
            background-image: linear-gradient(top, #0782a0, #077d9b);
            background-color: $background-color_8;
            box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05), 0px 0px 5px 1px rgba(255, 255, 255, 0.05);
        }
    }

    a.current-page-item {
        background-image: -moz-linear-gradient(top, #007b99, #007897);
        background-image: -webkit-linear-gradient(top, #007b99, #007897);
        background-image: linear-gradient(top, #007b99, #007897);
        background-color: $background-color_7;
        box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px 1px rgba(255, 255, 255, 0.1);
    }
}
