@model SearchProductViewModel

@*Список городов*@
<div class="flexColumn block2Left">
    <div id="divForChangeCitiesSelectList">
        <label>Город:</label>
        <select asp-for="CityIdSelected"
                asp-items="@Model.CitiesList" id="CityIdSelected" name="CityIdSelected">
        </select>
    </div>
</div>

@*Карта страны*@
<div class="flexColumn block2Right">
    <label asp-for="MapImagePath"></label>
    <div class="country-map">
        <div id="countryMap">   
        </div>
    </div>
</div>