@{
    ViewData["Title"] = "Error";
}   

<h1 class="text-danger">Ошибка запроса</h1>
<h2 class="text-danger">Нет данных</h2>

    <h3> Туристического продукта с Id = @ViewData["id"] не существует в БД </h3>