@model List<Product>
@{
    foreach(var product in @Model){
    <div>
        <div class="padding_bottom_2">
            <h3>Id тура: @product.Id</h3>
        </div>
        <div class="padding_bottom_2">
            <h3>Название тура: </h3>
            <h2>@product.Name</h2>
        </div>
        <div class="padding_bottom_2">
            <h3>Описание тура: </h3>
            <h4>@product.Description</h4>
        </div>
    </div>
    }
}