@model Product

 <div class="homePage">
     <div class="searchButton">
        <button class="">
                <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
             </button>
             <button class="">
                @* TODO:  реализовать поиск тура по id, имени или др. параметрам*@ 
                <a class="" asp-area="" asp-controller="Search" asp-action="GetProduct" asp-route-id="">Найти тур</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв"</a>
             </button>
             <button class="">
                 <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв 2</a>
             </button>
     </div>
     <div class="searchHeader">
        <div class="padding_bottom_2">
            <h3>Id турпродукта: @Model.Id</h3>
        </div>
        <div class="padding_bottom_2">
            <h3>Название турпродукта: </h3>
            <h2>@Model.Name</h2>
        </div>
        <div class="padding_bottom_2">
            <h3>Описание турпродукта: </h3>
            <h4>@Model.Description</h4>
        </div>
    </div>
</div>

