@model Product

<div>
    <div class="padding_bottom_2">
        <h3>Id тура: @Model.Id</h3>
    </div>
    <div class="padding_bottom_2">
        <h3>Название тура: </h3>
        <h2>@Model.Name</h2>
    </div>
    <div class="padding_bottom_2">
        <h3>Описание тура: </h3>
        <h4>@Model.Description</h4>
    </div>
</div>

