@model List<Product>

@{
<div class="homePage">
            
    @await Html.PartialAsync("SearchButtonMenuPartial")

    <div class="searchHeader">
        @foreach(var product in @Model)
        {
            <div>
                <div class="padding_bottom_2">
                    <h2>@product.Name</h2>
                </div>
                <div class="padding_bottom_2">
                    <h4>@product.ShortDescription</h4>
                </div>
            </div>
        }
    </div>
</div>
}