@model SearchProductViewModel
@{
    ViewData["Title"] = "Страница поиска туров";
}

<div class="searchPage">
    
    @await Html.PartialAsync("_SearchButtonMenuPartial")

    <div class="searchHeader">
        <h1 class="titleLowHeader">Поиск туристических продуктов:</h1>
        <hr class="horizontal-line-search" />
        
        <div class="searchMenu">  

            <form class="form" asp-controller="Search" asp-action="Index" method="post" name="myForm">
                
               @* Первый блок элементов: 3 select (список стран, количество дней отдыха, количество отдыхающих), календарь и кнопка "Найти тур" *@
                
                <div class="flexRow searchBlock1">   
                    
                    <div class="block1Left">
                        <label>Страна:</label>
                        <select asp-for="CountryIdSelected"
                                asp-items="@Model.CountriesList">
                            <option value="">Выберите страну</option>
                        </select>
                    </div>

                    <div class="block1Right">
                        @*Даты поездки (выпадающий календарь, по интервалу "от" и "до") class="flexColumn blockWidth20"*@
                        <div>
                            <label asp-for="DateFrom"></label>
                            <input asp-for="DateFrom" />
                            <input asp-for="DateTo" />
                        </div>

                        @*Количество дней отдыха (выпадающий список, единственный выбор, + свой выбор) class="flexColumn blockWidth20"*@
                        <div class="block1Middle">
                            <label asp-for="NumberOfDaysFromSelectList"></label>
                            <select asp-for="NumberOfDaysFromSelectList"
                                    asp-items="@Html.GetEnumSelectList<NumberOfDaysEnum>()">
                            </select>
                        </div>

                        @*Количество взрослых и детей (выпадающий список, единственный выбор, + свой набор) class="flexColumn blockWidth20"*@
                        <div class="block1Middle">
                            <label asp-for="NumberOfPeopleFromSelectList"></label>
                            <select asp-for="NumberOfPeopleFromSelectList"
                                    asp-items="@Html.GetEnumSelectList<NumberOfPeopleEnum>()">
                            </select>
                        </div>

                        @*Кнопка "Найти тур" class="flexColumn blockWidth20 searchButtonSubmit"*@
                        <div>
                            <input type="submit" value="Найти тур" />
                        </div>
                    </div>
                    
                </div> 

                @* Второй блок элементов: 
                    1 select (список городов), карта и блоки описаний о странах, городах, достопримечательностъ
                *@

                <div class="flexRow searchBlock2">   
                    
                    @*Список городов*@
                    <div class="flexColumn block2Left">
                        <div id="divForChangeCitiesSelectList">
                            <label>Город:</label>
                            <select asp-for="CityIdSelected"
                                    asp-items="@Model.CitiesList">
                            </select>
                        </div>
                    </div>

                    @*Карта страны*@
                    <div class="flexColumn block2Right">
                        <label asp-for="MapImagePath"></label>
                        <div class="country-map">
                            <div id="countryMap">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
     </div>
</div>
<script type="module"src="~/js/search.js"></script>
