@{
    ViewData["Title"] = "Search Page";
}

<div class="searchPage">
    <div class="searchButton">
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Поиск туров</a>
        </button>
        <button class="">
        @{
        //  TODO:  реализовать поиск тура по id, имени или др. параметрам
        }
            <a class="" asp-area="" asp-controller="Search" asp-action="GetProduct" asp-route-id="">Найти тур</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв"</a>
        </button>
        <button class="">
            <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв 2</a>
        </button>
    </div>
    <div class="searchHeader">
        <h1>Поиск туристических продуктов:</h1>
        <br/>
        <div class="text-center">
            <p>Тут будут меню выбора: страны, города, дат тура, количества туристов и кнопка "Найти"</p>
            <p>карта местности и описания</p>
            <p>фотографии страны, города, мест отдыха</p>
                <ul>
                    <li>данная <strong>страница содержит 3 меню</strong> (сверху - вниз): <strong>меню поиска, информативное
                            меню, меню с фото</strong></li>
                    <li><strong>меню поиска содержит: </strong>
                        <br />1) <strong>выпадающий список стран</strong>
                        <br />(элемент radiobutton - выбор только 1 страны);
                        <br />2) <strong>выпадающий календарь</strong>
                        <br />(в кот. м.задать интервал, где д.поместиться <strong>даты начала и окончания тура</strong>);
                        <br />3) <strong>выпадающий список - количество дней/ночей</strong>
                        <br />(элемент select - выбор 1 или больше вариантов);
                        <br />4) <strong>выпадающий список людей</strong>
                        <br />(взрослых) + возможность добавить детей (количество и возраст детей) (по умолчанию - 2 взрослых,
                        без детей)
                        <br />5) <strong>кнопка "Найти туры"</strong>
                        <br />(т.е. input type="submit" value="Найти туры");
                    </li>
                    <li><strong>информативное меню под меню поиска, в котором :</strong>
                        <br />6) <strong>раскрытый список городов</strong> данной страны;
                        <br />(элемент select - выбор 1 или больше городов) (расположено - под страной) (при выборе страны -
                        появляются города этой страны);
                        <br />7) <strong>карта местности</strong> (рядом с городами):
                        <br />это первая картинка в горизонт. скроллинге (справа и слева - есть стрелки, в центре внизу -
                        количество изображений в формате: "1 из 45");
                        <br />все последующие картинки - это картинки с названием туров;
                        <br />при выборе страны - общая карта страны со всеми городами;
                        <br />при выборе города/-дов через checkbox элемент - выбранный город/-да на карте выделяется
                        увеличенным кружочком и другим цветом;
                        <br />8) <strong>описание:</strong>
                        <br />при выборе страны - в верхней трети - появляется описание о стане (общее);
                        <br />при выборе города/-дов - во второй трети - появляется описание о городе (общее) / о последнем
                        выбранном городе;
                        <br />при выборе новой картинки - в нижней трети - появляется описание тура
                    </li>
                    <li><strong>меню с фотографиями всех туров и достопримечательностей в выбранном туре :</strong>
                        <br />9) <strong>картинки всех туров</strong> в данной стране и городе/-дах;
                        <br />при этом, выделяется <strong>тур, который выбран</strong> и картинка которого показывается в окне
                        карты местности, а информация о котором - демонстрируется в нижней трети описания;
                        <br />10) <strong>фото достопримечательностей</strong> в выбранном туре;
                        <br />выводятся все фото, кот. есть в базе; если их много и они не помещаются, то появляется горизонт.
                        скроллинг
                    </li>
                    <li><strong>Механизм обработки:</strong>
                        <br />
                    </li>
                </ul>
        </div>
    </div>
</div>
