@model SearchProductViewModel
@{
    ViewData["Title"] = "Страница поиска туров";
}

<div class="searchPage">
    
    @await Html.PartialAsync("_SearchButtonMenuPartial")

    <div class="searchHeader">
        <h1 class="titleLowHeader">Поиск туристических продуктов:</h1>
        <hr class="horizontal-line-search" />
        
        <div class="searchMenu">  

            <form class="form" asp-controller="Search" asp-action="Index" method="post" name="myForm">
                
                @await Html.PartialAsync("_HiddenElementsPartial")

                @* Первый блок элементов: 3 select (список стран, количество дней отдыха, количество отдыхающих), календарь и кнопка "Найти тур" *@
                
                <div class="flexRow searchBlock1">   
                    
                    @await Html.PartialAsync("_FirstElementsBlockPartial")
                    
                </div> 

                @* Второй блок элементов: 
                    1 select (список городов), карта и блоки описаний о странах, городах, достопримечательностъ
                *@

                <div class="flexRow searchBlock2">   
                    
                    @await Html.PartialAsync("_SecondElementsBlockPartial")

                </div>
                <div>@* Блок данных информационного характера, на период разработки
                   В дальнейшем, будет убран из проекта*@

                    @await Html.PartialAsync("_InfoBlockPartial")
               
                </div>
            </form>
        </div>
     </div>
</div>
@* нативный javascript на стороне клиента*@
<script type="module" src="~/js/search.js"></script>
