<div class="searchButton">
    <a asp-controller="Search" asp-action="Index">Поиск туров</a>
    <a asp-controller="Search" asp-action="GetAllProducts">Все турпродукты</a>
    <a asp-controller="Search" asp-action="">Резерв 3</a>
    <a asp-controller="Search" asp-action="TechTaskSearch">ТЗ для Search</a>
</div>
