@*
    // кнопки для меню на странице Search
*@
<div class="searchButton">
    <button class="">
        <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв</a>
    </button>
    <button class="">
        <a class="" asp-area="" asp-controller="Search" asp-action="" asp-route-id="">Резерв 2</a>
    </button>
    <button class="">
        <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв 3</a>
    </button>
    <button class="">
        <a class="" asp-area="" asp-controller="Search" asp-action="TechTaskSearch">ТЗ для Search</a>
    </button>
</div>
