@*
    // кнопки для меню на странице Search
*@
<div class="searchButton">
    <a class="" asp-area="" asp-controller="Search" asp-action="Index">Поиск туров</a>
    <a class="" asp-area="" asp-controller="Search" asp-action="GetAllProducts">Все турпродукты</a>
    <a class="" asp-area="" asp-controller="Search" asp-action="">Резерв 3</a>
    <a class="" asp-area="" asp-controller="Search" asp-action="TechTaskSearch">ТЗ для Search</a>
</div>
