@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

.aboutPage {
    @include tmp.page-template;
}

.aboutHeader {
    @include tmp.header-page-template;
    @include tmp.background-norepeat-template;
    background-image: url(../background/About_2.png);

    @include mix.tablet {
        @include tmp.header-page-980;
    }
}

.image-editAboutPage {
    width: 100%;
    margin: 0.5em;
    padding-right: 0.5em;
}

.short-description {
    margin: 1em auto;
    width: 80%;
    text-align: center;
    font-family: vars.$font-family_3;
    font-size: 1.2em;
}

.full-description {
    margin: 1em;
    padding: 0.5em;
}

.checkbox-center {
    margin: 0 1em;

    input {
        margin: 0;
        padding: 0 1em;
    }
}

.iconLink {
    display: flex;

    > h4 {
        margin-left: 1em;
        margin-bottom: 1em;
    }
}

.iconImage {
    margin-right: 1em;
}

.flexGrow1 {
    flex-grow: 1;
}

.photoGallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.image-photoGallery {
    padding: 0.5em;
    width: 100%;
    object-fit: cover;
}

.delete-photo {
    padding-left: 4em;
}

.about-foto {
    @include tmp.foto-template;
}