@use '../base/variables' as vars;
@use '../base/templates' as tmp;

.accountPage {
    @include tmp.page-template;
}

.accountHeader {
    @include tmp.header-page-template;
    margin-top: 1em;
    text-align: center;
}

.accountHeaderOne {
    @include tmp.header-page-one-template;
}

.accountInput {
    min-width: 300px;
    height: 35px;
    border-radius: 10px;
    margin: 0.5em 0;
    padding: 0 0 0 1em;
}

.submitButton {
    background-color: vars.$background-color_2;
    text-transform: uppercase;
    min-width: 200px;
    border-radius: 6px;
    margin-top: 1em;
    padding: 1em 0;
}

.access-denied-list {
    width: 60%;
    text-align: left;
    margin: 1em auto;

    li {
        margin-left: 1.5em;
    }
}