@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

.editPage {
    @include tmp.page-template;
    background-image: url(../background/Edit.png);
}

.editHeader {
    @include tmp.header-page-template;
    @include tmp.background-norepeat-template;
    background-image: url(../background/Edit_2.png);

    @include mix.tablet {
        @include tmp.header-page-980;
    }
}

.editHeaderOne {
    @include tmp.header-page-one-template;
}

.check-isCapital {
    margin-bottom: 1.2em;
}