@use '../base/templates' as tmp;

.errorPage {
    @include tmp.page-template;
    margin: 1em 0 0 0;
    padding: 1em;
    background-image: url(../background/Error.png);
    background-size: 100%;
}

.errorHeader {
    @include tmp.header-page-template;
}

.errorHeaderOne {
    @include tmp.header-page-one-template;
}