@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;


.searchPage {
    @include tmp.page-template;
    background-image: url(../background/Search_2.png);
}

.searchHeader {
    @include tmp.header-page-template;
    @include tmp.background-norepeat-template;
    padding: 0 1em 1em;
    
    @include mix.tablet {
        @include tmp.header-page-980;
    }
}

.searchHeader-unscroll {
    @include tmp.header-page-unscroll-template;
}

.searchHeaderOne {
    @include tmp.header-page-one-template;
}

.searchMenu {
    display: flex;
    flex-direction: column;
}

.searchCardsGroup {
    display: flex;
    width: 100%;
    margin-bottom: 1em;

    @include mix.tablet {
        flex-direction: column;
    }
}

.search-label {
    padding: 0.5em 1em;
    font-weight: 600;
}

/* Картка для dropdown стран и городов */
.cardCountriesCities {
    display: flex;
    flex-direction: column;
    min-width: 33%;
    margin: 0 auto;
    
    @incluse mix.tablet{
        min-width: 50%;
    }

    @include mix.mobile{
        width: 100%;
    }

}

/* Картка для полей ввода дат от и до */
.cardDate {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;

    @incluse mix.tablet {
        min-width: 50%;
    }

    @include mix.mobile {
        width: 100%;
    }
}

/* Картка для полей ввода численности дней и людей*/
.cardItemsNumber {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;

    @incluse mix.tablet {
        min-width: 70%;
    }

    @include mix.mobile {
        width: 100%;
    }
}

/* Картка submit */
.cardSubmit {
    min-width: 5em;
    display: flex;
    justify-content: right;

    @incluse mix.tablet {
        min-width: 90%;
    }

    @include mix.mobile {
        width: 100%;
    }
}

.searchCountriesList {

    display: flex;
    flex-direction: column;
    width: 100%;
    
    @include mix.mobile {
        margin: 0 auto;
    }
}

.searchCitiesList {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mix.mobile {
        margin: 0 auto;
    }
}

#divForChangeCitiesSelectList{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchDateFrom {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
}

.searchDateTo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchDaysNumber {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.6em;

    @include mix.tablet {
        padding: 0;
    }
}

.searchPeopleNumber {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.6em;

    @include mix.tablet {
        padding: 0;
    }
}

.searchMap {
    width: 100%;
}

.country-map {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;

    iframe {
        display: block;
        margin: auto;
        border: 0;
    }
}

.searchBlock1 {
    @include tmp.search-block-template;

    @include mix.tablet {
        flex-direction: column;
    }
}

.searchBlock2 {
    @include tmp.search-block-template;

    @include mix.tablet {
        flex-direction: column;
    }
}

.searchBlock3 {
    @include tmp.search-block-template;
    display: flex;
    justify-content: space-between;
}

.searchBlock4 {
    @include tmp.search-block-template;
    height: 400px;
}

.searchDelete {
    display: flex;
    margin-bottom: 1.2em;

    a {
        margin-left: 0.6em;
    }
}

.citiesList {
    padding-left: 1em;
    width: 50%;
}

.image-countryMap {
    width: 100%;
    object-fit: cover;
}

.image-countryMap50 {
    min-width: 50%;

    > iframe {
        width: 100%;
        height: 88%;
        object-fit: cover;
    }
}

.countryData {
    margin: 1em;
    padding: 0.5em;
}