@model Blog

<div class="editPage">
    
    @await Html.PartialAsync("../Edit/EditButtonMenuPartial")

    <div class="editHeader">
        
        @* для CKEditor 4 *@
        <script src="~/js/ckeditor4/ckeditor.js"></script>

        <form asp-controller="Blogs" asp-action="SaveBlog" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="Message" />
            <input type="hidden" asp-for="TitleImagePath" />
            <div>
                <div asp-validation-summary="All"></div>
                <div class="displayFlexCol">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" asp-for="ShortDescription" />
                    <span asp-validation-for="ShortDescription"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="FullDescription"></label>
                    <textarea name="fullInfoAboutBlog" rows="20" cols="100" asp-for="FullDescription" >
                        Это текстовая область для CKEditor4
                    </textarea>
                    <span asp-validation-for="FullDescription"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="FullMessageLine"></label>
                    <textarea name="fullMessageLine" rows="20" cols="100" asp-for="FullMessageLine">
                        Это текстовая область для CKEditor4
                    </textarea>
                    <span asp-validation-for="FullMessageLine"></span>
                </div>
                <div class="displayFlexCol">
                    <label asp-for="TitleImagePath"></label>
                    <h4>@Model.TitleImagePath</h4>
                    <div class="titleImage">
                        <img src="@Model.TitleImagePath" alt="Титульная картинка блога" align="left" width="50%"><img>
                    </div>
                    <input type="file" name="changeTitleImagePath" value="" accept="image/*"/>
                    <span asp-validation-for="TitleImagePath"></span>
                </div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>
<script>
    var newCKEdit = CKEDITOR.replace('fullInfoAboutBlog');
    newCKEdit.updateElement();
    var newCKEdit2 = CKEDITOR.replace('fullMessageLine');
    newCKEdit2.updateElement();
</script>