@model IEnumerable<Blog>
<div class="editPage">
    
    @await Html.PartialAsync("../Edit/EditButtonMenuPartial")

    <div class="editHeader">
        
        <h4 class="title">Вход ограничен ролями "editor" и "superadmin"</h4><br />
        <hr class="horizontal-line" />

        @foreach(var item in Model)
        {
            <div>
                <div>
                    <h2>@item.Name</h2>
                </div>
                <div>
                    <h4>@item.ShortDescription</h4>
                </div>
                <div class="editDelete">
                    <a asp-controller="Blogs" asp-action="EditBlog" asp-route-id="@item.Id">редактировать</a>	
                    <a asp-controller="Blogs" asp-action="DeleteBlog" asp-route-id="@item.Id">удалить</a>
                </div>
            </div>
        }
    </div>
</div>
