@model IEnumerable<User>
@{
    ViewBag.Title = "Список пользователей";
}
<div class="usersPage">
    <div class="usersHeader">
        
        <h2 class="title">Список пользователей</h2>
        <h3>Вход ограничен ролью "admin"</h3><br />
        <hr class="horizontal-line" /><br />

        <table class="table">
            <tr><th>Email</th><th>Год</th><th>Confirmed email</th></tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.BirthYear</td>
                    <td>@user.EmailConfirmed</td>
                </tr>
            }
        </table>

    </div>
</div>