@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

.homeButton {

    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.searchButton {

    @include tmp.button-template;

    @include mix.desktop {
        padding: 8px 13px;
    }

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.searchButtonSubmit {
    padding-top: 1em;
    margin-bottom: 1em;
}

.editButton {


    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.supportButton {


    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.aboutButton {


    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.accountButton {


    @include tmp.button-template;
    padding: 0;
    justify-content: center;
    margin-top: 0;

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.usersButton {


    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.rolesButton {


    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}

.errorButton {


    @include tmp.button-template;

    @include mix.tablet {
        margin-top: 0;
    }

    a {
        @include tmp.button-link-template;

        @include mix.tablet {
            @include tmp.button-link-tablet-template;
        }
    }
}