@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

.item {
    display: flow-root;
}

.titleImage {
    float: left;
    width: 25%;

    @include mix.desktop {
        width: 30%;
    }

    @include mix.tablet {
        width: 40%;
    }

    @include mix.mobile {
        width: 100%;
    }

    img {
        display: block;
        @include tmp.img-template;

        @include mix.mobile {
            padding: 0.5em 0;
        }
    }
}

.titleImageEditAbout {
    width: 25%;

    @include mix.desktop {
        width: 30%;
    }

    @include mix.tablet {
        width: 40%;
    }

    @include mix.mobile {
        width: 100%;
    }

    img {
        display: block;
        @include tmp.img-edit-about-template;

        @include mix.mobile {
            padding: 0.5em 0;
        }
    }
}

.titleImage50 {
    max-width: 50%;

    img {
        @include tmp.img-template;
    }
}

.new-foto {
    @include tmp.foto-template;
}

.blog-foto {
    @include tmp.foto-template;
}

.product-foto {
    @include tmp.foto-template;
}