table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    th {
        padding-left: 2em;
        text-align: left;
        font-weight: 600;
        color: $color_8;
    }

    td {
        max-width: 33%;
        padding: 0.5em 0.5em 0.5em 2em;

        a {
            margin-right: 0.8em;
        }

        button {
            margin-right: 0.8em;
        }
    }
}