@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

@media screen and (max-width: 1680px) {
    .container {
        width: 1200px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;

        > .col-2 {
            width: 16.66667%;
        }

        > .col-6 {
            width: 50%;
        }

        > .col-10 {
            width: 83.33333%;
        }

        > .col-12 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: calc(100% - 70px);
    }

    .row {
        > .col-2 {
            width: 16.66667%;
        }

        > .col-6 {
            width: 50%;
        }

        > .col-10 {
            width: 83.33333%;
        }

        > .col-12 {
            width: 100%;
        }
    }

    ul.small-image-list {
        img {
            width: 50px;
        }
    }

    ul.big-image-list {
        img {
            width: 75px;
        }
    }

    #header {
        height: 76px;

        h1 {
            font-size: 2em;
            line-height: 76px;
        }
    }

    #nav {
        line-height: 74px;
        font-size: 1.1em;

        a {
            padding: 0 20px 0 20px;
        }
    }

    #footer-wrapper {
        padding: 2em;
    }

    #copyright {
        padding: 1em 0 0 0;
        margin: 2em 0 0 0;
    }
}

@media screen and (max-width: 980px) {
    .container {
        width: 100%;
    }

    .row {
        > .col-2-medium {
            width: 16.66667%;
        }

        > .col-6-medium {
            width: 50%;
        }

        > .col-10-medium {
            width: 83.33333%;
        }

        > .col-12-medium {
            width: 100%;
        }
    }

    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    #page-wrapper {
        padding-top: 44px;
        display: flex;
        flex-direction: column;
        backface-visibility: hidden;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }

    #header-wrapper {

        @include mix.blue-grey-gradient;
        background-color: vars.$background-color_6;
    }

    #header {
        display: flex;
    }

    .burger {
        display: block;
        font-size: 32px;
        z-index: 1001;
    }

    a#logo {
        font-size: 24px;
        margin-left: 1.5em;
    }

    #nav {
        display: none;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;

        a {
            padding: 0 10px;
            border-bottom: 1px solid #ddd;
            font-size: 20px;
            background-color: vars.$background-color_10;
            min-width: 5.5em;
            flex-wrap: wrap;
            text-align: center;
        }
    }

    #nav.active {
        display: flex;
    }

    .aboutHeader {
        @include tmp.header-page-980;
    }

    .homeButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .searchButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .editButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .supportButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .aboutButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .accountButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .usersButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .rolesButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .errorButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    .addCityButton {
        a {
            text-align: center;
            margin-bottom: 0.5em;
            padding: 5px;
        }
    }

    #titleBar {
        background-image: -moz-linear-gradient(top, #008dab, #007294);
        background-image: -webkit-linear-gradient(top, #008dab, #007294);
        background-image: linear-gradient(top, #008dab, #007294);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        width: 100%;
        z-index: 10001;
        text-align: center;
        color: vars.$color_9;
        font-size: 1.25em;
        background-color: vars.$background-color_6;

        .title {
            line-height: 44px;
        }

        .toggle {
            width: 80px;
            height: 60px;

            &:after {
                content: '';
                color: vars.$color_9;
                text-align: center;
                line-height: 31px;
                font-size: 0.8em;
                width: 50px;
                height: 35px;
                border-radius: 5px;
                box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 6px 13px 0px rgba(255, 255, 255, 0.2), 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
            }

            &:before {
                content: '';
                width: 20px;
                height: 30px;
                background: url("assets/mobileUI-site-nav-opener-bg.svg");
            }

            &:active {
                &:after {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        width: 275px;
        z-index: 10002;
        background: #00536F;
        color: vars.$color_9;
        box-shadow: inset -10px 0px 40px 0px rgba(0, 0, 0, 0.5);

        .link {
            display: block;
            color: vars.$color_9;
            border-top: solid 1px rgba(255, 255, 255, 0.1);
            border-bottom: solid 1px rgba(0, 0, 0, 0.2);
            height: 55px;
            line-height: 55px;
            padding: 0 15px 0 15px;
            text-decoration: none;

            &:first-child {
                border-top: 0;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    body.navPanel-visible {
        #page-wrapper {
            -moz-transform: translateX(275px);
            -webkit-transform: translateX(275px);
            -ms-transform: translateX(275px);
            transform: translateX(275px);
        }

        #titleBar {
            -moz-transform: translateX(275px);
            -webkit-transform: translateX(275px);
            -ms-transform: translateX(275px);
            transform: translateX(275px);
        }

        #navPanel {
            -moz-transform: translateX(0);
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: 100%;
    }

    .row {
        > .col-12-medium {
            width: 100%;
        }
    }

    body {
        font-size: 13pt;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    ul {
        margin: 0 0 1em 0;

        li {
            img {
                width: 100px;
            }
        }
    }

    article.blog-post {
        .comments {
            display: block;
            position: relative;
            top: -0.5em;
            margin: 0 0 0.5em 0;
        }
    }

    .button {
        font-size: 1em;
    }

    .blog-post-image {
        width: 100%;
    }

    #footer-wrapper {
        padding: 40px 0;
    }

    #copyright {
        text-align: center;
        color: vars.$color_10;
        padding: 30px 0 0 0;
        font-size: 0.8em;
        line-height: 1.5em;

        a {
            color: vars.$color_10;
        }
    }
}
