@use '../base/variables' as vars;
@use '../base/templates' as tmp;
@use '../mixins/mixins' as mix;

@media screen and (max-width: 980px) {
    
    a#logo {
        font-size: 24px;
        margin-left: 1.5em;
    }

    #titleBar {
        background-image: -moz-linear-gradient(top, #008dab, #007294);
        background-image: -webkit-linear-gradient(top, #008dab, #007294);
        background-image: linear-gradient(top, #008dab, #007294);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        width: 100%;
        z-index: 10001;
        text-align: center;
        color: vars.$color_9;
        font-size: 1.25em;
        background-color: vars.$background-color_6;

        .title {
            line-height: 44px;
        }

        .toggle {
            width: 80px;
            height: 60px;

            &:after {
                content: '';
                color: vars.$color_9;
                text-align: center;
                line-height: 31px;
                font-size: 0.8em;
                width: 50px;
                height: 35px;
                border-radius: 5px;
                box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 6px 13px 0px rgba(255, 255, 255, 0.2), 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
            }

            &:before {
                content: '';
                width: 20px;
                height: 30px;
                background: url("assets/mobileUI-site-nav-opener-bg.svg");
            }

            &:active {
                &:after {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

}

@media screen and (max-width: 736px) {
    ul {
        margin: 0 0 1em 0;

        li {
            img {
                width: 100px;
            }
        }
    }

    .button {
        font-size: 1em;
    }

    

}
